<% provide(:page_title, 'Volta al Gaià') %>

<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="three wide column"></div>
	<div class="ten wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida 'Volta al Gaià'.&nbsp;</h1>
<h2 class="ui header teal">Dimecres 7 de Novembre del 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > Molins > Torrelles > Avinyonet > La Llacuna > Querol > Sta. Perpètua de Gaià > Vila-rodona > Bonastre > Albinyana > Juncosa > Montmell > Vila > BCN
</p>

<h3 class="ui header teal">Punt de trobada:</h3> 
<p>	08:30 Mirador del Turó d'en Cort (Vallvidrera). Últimes cases de Vallvidrera surtin per la carretera de Molins.
<BR/>09:30 Avinyonet
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>10:30 La Llacuna (esmorzar)
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'guasap/whatapp' o correu) abans de dimecres.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.
<BR/>Hi han trams de camins asfalts.
</p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/VoltaGaia_20181031.jpg", :alt => "Volta al Gaià 2018/10/31", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<BR/>
<% if user_signed_in? %>
<h3 class="ui header teal">Ruta detallada i comentada:</h3> 
<p>BCN > (8:30 Mirador d'en Cort, Vallvidrera) > Molins (colapsat)> St.Vicenç dels Horts > Torrelles > Begues > Olesa B.> Avinyonet > La Granada > Font-rubí > La Llacuna > 10:45 Miralles > Pontils > Sta. Perpètua Gaià > (Seguer) > Querol > Santes Creus > Aiguamúrcia > Vila-rodona > Vilardida (nou inmens jaciment arqueològic) > Montferri > Salomó (molts bones i tranquiles carreteres) > La Nou de Gaià > La Pobla de Montornès > Estació de Roda Berà > Bonastre > Massís de Bonastre > Albinyana > La Bisbal del P. > Juncosa del Montmell > Aiguaviva > Sant Jaume Domenys > La Múnia > Vila > Sant Pere Molanta > Olivella > Les Botigues > BCN</p>
<BR/>

<h3 class="ui header teal">Crònica:</h3>
<br/>Aquest dimecres 5 'privilegiats' motoristes: Joan GS, Josep Maria ENFIELD, Josep TRACER, Eduard ENFIELD i Ferran GSR em fet 285kms per a donar la Volta al riu Gaià des del seu naixement a Pontils fins al mar, visitant Santa Perpètua de Gaià i Sant Jaume de Montagut al Sistema Prelitoral Central.
<BR/>Trànsit de i molts boletaires per les muntanyes i pocs ciclistes! 
<BR/>Per anar hem fet la carretera de Vallvidrera(8:30)-Molins, hem pujat a Begues per Torrelles del LL. i a l'arribar a Avinyonet per vinyes fins a Font-rubí i d'allà a La Llacuna, esmorzant al Miralles (****) a les 10:45. 
<BR/>Seguint el Gaià (Pontils, Santes Creus, Vilardida) baixava bastanta aigua fins al Catllar, a on l'embassament de REPSOL nutreix la petroquímica i és queda completament sec. Bona i divertida carretera de Montferri, Salomó fins a La Nou de Gaià.
<BR/>Per sortir del Tarragonès em creuat el massís de Bonastre (amb pintades TABARNIAQUES) i a l'altra banda, a Albinyana hem pujat cap al Montmell, parant a Aiguaviva (***) per prendre alguna cosa i xerrar afora al solet fins a fer-se les tres ben tocades. 
<BR/>Per tornar hem baixat el Montmell per l'altra banda per Marmellar, i hem creuat transversalment el Penedès per dalt (Domenys-Múnia-Vila) i el Parc Natural del Garraf des d'Olivella a Les Botigues, a on ens hem parat per xerrar i acomiadar-nos abans d'agafar l'autovia, ja directes fins a Barcelona, arribant a casa a les cinc, molt satisfet del dia, dels amics i de la ruta.
<BR/>Quedem per fer-la aquesta ruta (5 hores de moto, 3200m de desnivell i 50 Km/h de mitjana) a l'hivern en sentit invers (dextrogir o amb el sentit de les agulles del rellotge)!   
<div><BR/><BR/></div>

<BR/>
<h3 class="ui header teal">Reportatge gràfic:</h3>
<BR/>
<h4 class="ui header teal">Primera xerrada al Miralles.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 11.02.22.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep Maria.<BR/></p> 
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 11.00.45.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep.<BR/></p> 
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 10.56.13.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Eduard.<BR/></p> 
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 10.56.50.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Joan.<BR/></p> 
<BR/>
<h4 class="ui header teal">Primera parada "Santa Perpètua de Gaià" a les 12h.</h4>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 12.09.55.jpg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Foto oficial.<BR/></p> 
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 12.10.04.jpg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep, Eduard, Joan i Josep Maria.<BR/></p> 
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 12.12.12.jpg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>La tardor a l'Alt Gaià.<BR/></p> 
<BR/>
<BR/>
<h4 class="ui header teal">Segona parada "Sant Jaume de Montagut".</h4>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 12.37.34.jpg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep Maria, Eduard, Josep i Joan.<BR/></p> 
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 14.22.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep Maria, Eduard, Josep i Ferran.<BR/></p> 
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 14.22.48.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Sant Jaume de Montagut.<BR/></p> 
<BR/>
<BR/>
<h4 class="ui header teal">Parem a prendre alguna cosa a Aiguaviva ja és un quart de tres.</h4>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 14.23.17.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep.<BR/></p> 
<BR/>
<h4 class="ui header teal">Parem al Parc Natural del Garraf per acomiadar-nos fins a la propera.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 17.44.50.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Eduard, Joan, Josep, Josep Maria i Ferran.<BR/></p> 
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181107_Gaia/2018-11-07 at 16.18.59.jpeg", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img") %></div>
</figure>
<p>Sí per allà baixarem.<BR/></p> 
<BR/>
<h4 class="ui header teal">Moltes gràcies Eduard per aquests magnífics vídeos!</h4>
<BR/>
<div><%= video_tag("sortides/20181107_Gaia/VoltaalGaiaLaLlacuna1.mp4", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img", controls: true, autobuffer: true, width: '100%') %></div>
<p>Pujant de Font-rubí a La Llacuna (1) 364Mb.<BR/></p> 
<BR/>
<div><%= video_tag("sortides/20181107_Gaia/VoltaalGaiaLaLlacuna2.mp4", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img", controls: true, autobuffer: true, width: '100%') %></div>
<p>Pujant de Font-rubí a La Llacuna (2) 219Mb.<BR/></p> 
<div><%= video_tag("sortides/20181107_Gaia/VoltaalGaiaCapLaPoblaMontornes.mp4", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img", controls: true, autobuffer: true, width: '100%') %></div>
<p>Seguint el Gaià. Montferri, Salomó, La Nou de Gaià fins a La Pobla de Montornès. 386Mb.<BR/></p> 
<BR/>
<div><%= video_tag("sortides/20181107_Gaia/VoltaGaia.mp4", :alt => "Volta al Gaià 2018/11/07", :class => "mbr-figure__img", controls: true, autobuffer: true, width: '100%') %></div>
<p>Vídeo resum de la sortida. RELIVE, SLIDESHOW i fragments dels vídeos. 297Mb.<BR/></p>

<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge gràfic, cal identificar-se abans.</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>


<div><BR/><BR/></div>

</div>
<div class="three wide column"></div>
</div>
</div>
