<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida Matinal 'Volta al massís del Montseny'.&nbsp; 185 kms</h1>
<h2 class="ui header teal">Dimecres 3 d'Octubre de 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta (170kms):</h3> 
<p>BCN – Montgat - Mataró - Arenys - St.Celoni - Santa Fe - Viladrau - Seva - El Brull - El Montseny - Palautordera - Dosrius - Montgat - BCN
</p>

<h3 class="ui header teal">Punts de trobada:</h3> 
<p>09:00 Montgat (Plaça del'Ajuntament)
<BR/>10:00 St.Celoni (Plaça Comte del Montseny)
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>11:30 El Brull (esmorzar)
<BR/>13:30 BCN	
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'guasap/whatapp' o correu) abans de dimecres.
</p> 

<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>

<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/20181003_Montseny.jpg", :alt => "Sortida Matinal: Volta al massís del Montseny 2018/10/03", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<% if user_signed_in? %>
<BR/>
<h2 class="ui header teal">Crònica:</h2>
<blockquote>
<p class='pagraf' style='text-align: justify;'>
Avui amb un dia magnífic 5 motoristes: Josep XADV, JM TRACER, Francesc NINJA400,  Toni 1200RT i Ferran GSR600 hem sortit fer donar la volta al Montseny, parant a esmorzar a Can Rafel ***** (ràpid, atents i bo, amb terrassa a fora i un bon aparcament per a les motos) a Seva, a on hem xerrat i xerrat de motos i sortides en moto i preparat la 'Volta als Parcs Naturals del Sud' d'aquest cap de setmana. Sortint a les 9h des de Montgat hem estat a casa a les 15h havent fet 185 kms. 
</p>
</blockquote>
<div><BR/></div>
<h2 class="ui header teal">Reportatge:</h2>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181003_Montseny/2018-10-03 at 15.25.jpeg", :alt => "Sortida Matinal al Montseny. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Prinmera parada a les Sequoies de Santa Fe del Montseny.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181003_Montseny/2018-10-03 15.07.jpeg", :alt => "Sortida Matinal al Montseny. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Toni, Francesc, Josep i Josep Maria.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181003_Montseny/2018-10-03 at 10.32.50.jpeg", :alt => "Sortida Matinal al Montseny. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Ferran, Toni, Josep Maria, Josep i Francesc.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181003_Montseny/2018-10-03 at 15.07.jpeg", :alt => "Sortida Matinal al Montseny. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>La nova 'nineta' del Francesc: una KAWA400. Vull ser com tu de més gran! Tenint un garatge amb tres motos ben diferents per escollir, canviar una moto cada any i sortir cada dia en moto!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181003_Montseny/2018-10-03_15.07.jpeg", :alt => "Sortida Matinal al Montseny. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep Maria i Toni.</p>

<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>


<div><BR/><BR/></div>

</div>
<div class="four wide column"></div>
</div>
</div>
