<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida matinal a Collsuspina.&nbsp;</h1>
<h2 class="ui header teal">Dissabte 17 de Novembre del 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > Montgat > Cardedeu > Palautordera > Montseny > Seva > Tona > Muntanyola > Collsuspina > Moià > Calders > Sant llorenç de Savall > BCN
</p>

<h3 class="ui header teal">Punt de trobada:</h3> 
<p>07:30 BCN Drassanes/Av Josep Carner (Edifici duanes) façana Sud.
<BR/>08:00 Montgat. Plaça de la Vila (Ajuntament).
<BR/>09:00 BP Cardedeu. Sortim tots amb el dipòsit ple.
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>10:30 Collsuspina (esmorzar)
<BR/>14:00 BCN centre
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'whatapp' o correu) abans de dimecres.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.
<BR/>Hi han trams de camins rurals asfalts.
</p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/20181117_Collsuspina.jpg", :alt => "Matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<BR/>
<% if user_signed_in? %>
<h3 class="ui header teal">Crònica:</h3>
<br/>Aquest dissabte 9-valents motoristes: Ricart TRACER, Eduard ENFIELD, Carles TRACER, Joan GS, Rob DIAVEL, Jordi GSXR750, Lluís VSTROM, Joan VERSYS i Ferran GSR hem fet 205kms marcats per la dolenta climatologia. Quin dia més dolent, rúfol, ennuvolat, humit, trist, grisós, plujós, boirós, ... que ens ha fet canviar tots els nostres plans i la ruta prevista tan ben estudiada i programada.
<BR/>Hem intentat escapar-nos de la pluja, anant a esmorzar a Collsuspina, però al continuar i no canviar el dia, hem decidit finalment tornar a dinar a casa.
<BR/>Tot i així a l'anada ens hem trobat la carreteres humides però no mullades i a la tornada ja estaven quasi seques.
<BR/> Fins a Santa Maria de Palautordera una finíssima pluja ens acompanya fins que no comencem a fer les primeres rampes del Montseny. Intentem gaudir dels revolts però amb molta cura per l'estat mullat de la carretera. Al passar al Moianès aquestes estan més eixutes i podem augmentar el ritme fins arribar a Collsuspina, a on parem per esmorzar a Cal Bibu (***) a on la llonganissa la tallen amb un micròtom que de tan fina es transparenta, però el pa boníssim!
<BR/>Anem a provar d'anar una mica més lluny fins a Oristà per Muntanyola, però aquí a la urbanització ens equivoquem a la cruïlla de l'ajuntament i ens perdem dos cops a carrers sense sortida de la urbanització, i finalment sota una pluja fina, decidim tots de tornar ja cap a casa per a dinar.
<BR/>La tornada per Calders, i el parc natural de Sant Llorenç de Munt és com sempre una autèntica delícia.   
<BR/><i>Aquesta exploració ens ha descobert un nou tram pel Lluçanès (Hurra! que bé) que ben aviat el inclourem a una propera ruta.</i>
<div><BR/><BR/></div>
<h3 class="ui header teal">Reportatge gràfic:</h3>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 10.30.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>Està sortint el sol a Montgat. Hi han molts motoristes que no vindrant donat el mal temps.<BR/></p>
<BR/>
<h4 class="ui header teal">A la BP Cardedeu.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/ 2018-11-17_BPCardedeu_08.53.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>Que bé tothom ben puntual!<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.21.51.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>Tots amb els dipòsits plens!<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 09.01.59.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>Joan, Joan, Lluís, Eduard, Jordi, Ricard, Carles i Rob.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.21.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Rob de Bristol i la seva DIAVEL ens fan internacionals!<BR/></p>
<BR/>
<h4 class="ui header teal">A Coll Fornic 1.145m.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.28.47.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Rob puja ràpid!<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.28.46.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Carles<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.28.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Ricart, és 'El cavaller negre'?<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.28_Joan.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Joan i la seva VERSYS. Ep, vigila amb les ulleres!<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.28Joan.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Joan<BR/></p>
<BR/>


<h4 class="ui header teal">Parem a Collsuspina i esmorzem a Cal Bibu (***).</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 10.30.45.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>Arrivem no mullats però sí humits,<BR/>Rob, Lluís i Ricart.
</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 10.47.56.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Carles explicant el cas d'una rierada a Premia i Joan, Joan i  Eduard escoltant atentament.<BR/></p>
<BR/>

<h4 class="ui header teal">Parem i ens acomiademt a Castellar del Vallès.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.27.36.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Eduard.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.28.45Lluís.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Lluís.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17_Joan.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Joan.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181117_Collsuspina/2018-11-17 at 14.20.05.jpeg", :alt => "Sortida matinal a Collsuspina 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<p>En Eduard, Ferran, Ricart, lluís i Joan.
<BR/><i>Fins a la propera!</i></p>
<BR/>



<% else %>
<BR/>

<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge gràfic, cal identificar-se abans.</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>

<% end %>
<div><BR/><BR/></div>
<h4 class="ui header teal">Vídeo resum.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<iframe width="560" height="315" src="https://www.youtube.com/embed/u-520PpWiPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
<p>Sortida matinal a Collsuspina. Gràcies Eduard!<BR/></p>
<BR/>


<div><BR/><BR/></div>

</div>
<div class="four wide column"></div>
</div>
</div>
