<% provide(:page_title, 'Volta a Les Gavarres 2018/11/21') %>
<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Volta a Les Gavarres.&nbsp;</h1>
<h2 class="ui header teal">Dimecres 21 de Novembre del 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > Montgat > Mataró > Blanes > Tossa > Santa Cristina d'Aro > Sant Miquel d'Aro > Riu d'Or > Sant Pol > La Bisbal d'Empordà > Cruïlles > Santa Pellaia > Cassà de la Selva > Llagostera > Salionç > Tossa > Can Carbonell > C-35 > Sant Celoni > Llinars > Dosrius > Montgat > BCN
</p>

<h3 class="ui header teal">Punt de trobada:</h3> 
<p>8:00 Montgat: Plaça de la Villa (Ajuntament) 
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>10:00 Canyet de Mar (esmorzar)
<BR/>13:30 La Bisbal (dinar)	
<BR/>19:00 BCN centre
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'whatapp') abans de dimecres.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.
<BR/>No hi han trams de camins rurals asfalts. No hi han camins de terra.
</p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/20181121_Gavarres.jpg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<BR/>
<% if user_signed_in? %>
<!--<h3 class="ui header teal">Més detalla via WhatsApp</h3>-->

<h3 class="ui header teal">Crònica:</h3>
<br/>Ahir dimecres 4 motoristes: Eduard ENFIELD, JM ENFIELD, Josep TRACER i Ferran GSR vem fer 320kms per donar la volta al massís de 'Les Gavarres' en un dia solejat però amb les carreteres humides i plenes de terra per les pluges d'abans d'ahir i d'aquests darrers dies i setmanes. Això atrau a forces boletaires! 
<BR/>
Avui serà una sortida turística donada la ruta, no hem de fer molt quilòmetres si no rodar per tot el massís, i el tipus i estat de les carreteres. Així que pararem per veure el paisatge i un parell de monuments.  
<BR/>
<h3 class="ui header teal">Reportatge gràfic:</h3>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 19.00.59.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>Quin fred que fa ja als matins! Esperem que aquest sol que surt a Cabrera puntual a les vuit, ben aviat ens escalfi!</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 18.58.18.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>En Eduard, Josep, Ferran i en Josep Maria amb casc. El tram de Tossa a Sant Feliu de Guíxols ens agrada a tots, encara que estigui moll i amb terra en alguns punts.</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 10.00.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>Just dues hores hem tardat a arribat al Nou Casino de Sant Feliu de Guíxols al passeig marítim. Ara ja podem esmorzar!</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 10.09.29.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>Avui el tema són les reunions de treball i mireu com es riuen en Josep Maria i en Eduard!</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 18.58.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>A 3/4 de 12 parem i visitem el Priorat de Sant Miquel de Cruïlles (segle XI).</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 12.30.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>A 2/4 d'una ja hem donat la primera volta sencera a Les Gavarres. Les carreteres són estretes, lentes i molt revirades i poc transitades.</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 18.58.7.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>A l'una estem ja s ls muntanya dels Àngels, en el camí cap a Sant Mateu de Montnegre però anirem a donar tota la volta, baixant i tornant a pujar per Quarts. </p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 13.00.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>El massís s'eleva 300-400 metres sobre el mar i la major alçada és el Puig d'Arques de 523m. És pràcticament una immens alzinar a on no han entrat ni els pins ni els caducifolis.</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 14.04.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>A l'una decidim donar una segona volta encara que sigui fent un tram de terra de 5km des de Sant Mateu de Montnegre fins a Pelaià.</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 14.07.19.jpg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>A les dues ja tocades arribem a Santa Pelaia.</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 14.07.48.jpg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep, Eduard i Josep Maria.</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 at 14:30.jpeg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>A 2/4 de 3 ja estem sobre el mar a la punta de Salionç desprès de sortir del massís creuant la serra de Cadiretes per Sant Grau.</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181121_Gavarres/2018-11-21 15.28.jpg", :alt => "Volta a Les Gavarres 2018/11/21", :class => "mbr-figure__img") %></div>
</figure>
<p>A 2/4 4 ens entaulem al solet a Tossa de Mar per prendre alguna cosa i xerrar sobre el dia abans d'acomiadar-nos per tornar ja directes cap a casa.</p>
<BR/>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= video_tag(["sortides/20181121_Gavarres/ResumVoltaLesGavarres20181121.mp4"], :size => "", :controls => true) %>
</figure>
<p>Vídeo resum de la sortida. Gràcies Eduard!</p>

<div><BR/><BR/></div>
<% else %>
<BR/>
<h3 class="ui header blue">Per inscriure-vos envieu-nos un WhatsApp.  
<BR/><i>Per a veure més detalls, llegir la Crònica i veure el Reportatge gràfic, cal identificar-se abans.</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>
<div><BR/><BR/></div>
</div>
<div class="four wide column"></div>
</div>
</div>
