<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida matinal a Talamanca&nbsp;</h1>
<h2 class="ui header teal">Dimecres 26 de Setembre de 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta (145kms):</h3> 
<p>BCN – Cerdanyola - Calders - Artés - Navarcles - Talamanca - Mura - Matadepera - Terrassa - Rubí - Valldoreix - Vallvidrera - BCN
</p>

<h3 class="ui header teal">Punts de trobada:</h3> 
<p>08:30 BCN Entença-Av.Roma/Mallorca
<BR/>09:00 BCN Carretera Horta a Cerdanyola n.50
<BR/>09:30 UAB Bellaterra Av Serragalliners (segona rotonda passat els Bombers)
<BR/>10:00 Castellar del Vallès (Benzinera BP - Estació Servei Truyols) Tots amb el dipòsit ple.
</p>

<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>11:30 Talamanca (prendre alguna cosa)
<BR/>13:30 Vallvidrera
</p>

<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring' tot un dia.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar abans de dimarts.
<BR>Com m'apunto a una sortida? Per 'guasap/whatsapp' o per correu electrònic, el més aviat possible, al contacte que apareix al peu d'aquesta pàgina.
</p> 

<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>

<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/20180926_MatinalTalamanca.jpg", :alt => "Sortida Matinal a Talamanca 26/09/2018", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<% if user_signed_in? %>
<BR/>
<h2 class="ui header teal">Crònica:</h2>
<p class='pagraf' style='text-align: justify;'>
Ahir, dimecres tres 'privilegiats' de nosaltres: Ferran GSR600, Josep XADV i Marc ERN6 vàrem sortir a rodar una mica pel matí, canviant les rutes habituals a la cerca de noves carreteres. Amb un dia esplèndit, ni fred ni calor, ens va sorprendre el tram Sabadell-Sentmenat, que segurament farem a sovint per a sortir ràpidament de l'àrea metropolitana i la preciositat del paisatge i bon asfalt de la carretera de Gallifa. A 'Les Voltes' de Talamanca vàrem esmorzar molt bé (*****) a una terrassa que tenen afora amb les motos a la vista. Amb tota la bona intenció els dos 'avis' experts van donar els seus consells al jove motorista que segur, ben aviat els millorarà.</p>
<p class='pagraf' style='text-align: justify;'>Per a tornar, vàrem girar cap a l'oest per Mura-Rocafort, el tram d'enllaç (buf, millor no dir res) El Pont de Vilomara-Sant Vicenç de Castellet-Castellbell i el Vilar, per fer la divertidíssima carretera de Rellinars.</p>
<p class='pagraf' style='text-align: justify;'>A Terrassa vàrem girar cap a Martorell, per fer les divertides carreteres de Gelida a Corbera i de Fontpineda a Pallejà. El dia es va acabar a Santa Creu d'Olorda (****), magnífica terrassa amb vistes a l'aeroport, comentant satisfets i ja cansats els ets i uts d'aquesta 'Matinal' motera.</p>        
<div><BR/><BR/></div>
<h2 class="ui header teal">Reportatge:</h2>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180926_Talamanca/2018-09-26 at 11.04.33.jpeg", :alt => "Sortida Matinal a Talamanca 26/09/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep explicant al Marc com t'has d'obrir a l'entrar a un revolt.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180926_Talamanca/2018-09-26 at 11.21.24.jpeg", :alt => "Sortida Matinal a Talamanca 26/09/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Així de bo l'esmorzar a Talamanca.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180926_Talamanca/2018-09-26 at 12.17.25.jpeg", :alt => "Sortida Matinal a Talamanca 26/09/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>La KAWA ERN6 d'en Marc. Com surten de ràpid dels revolts els bicilíndrics, encara que frenis una mica més fort i aviat del compte. La propera serà segurament una R1250GS</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180926_Talamanca/2018-09-26 at 14.04.53.jpeg", :alt => "Sortida Matinal a Talamanca 26/09/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Que divertit que ha sigut i encara ens queda la tornada!</p>
<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>

<div><BR/><BR/></div>
	</div>
		<div class="four wide column"></div>
</div>
</div>
