<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida 'Volta a Guimerà'.&nbsp;</h1>
<h2 class="ui header teal">Dimecres 17 d'Octubre de 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > Vallvidrera > Molins > Torrelles > Avinyonet > La Llacuna > Santa Coloma Queralt > Vallbona de les Monges > Guimerà > Santa Coloma de Queralt > Capellades > Piera > Gelida > Corbera > Molins > Vallvidrera > BCN
</p>

<h3 class="ui header teal">Punt de trobada:</h3> 
<p>09:00 Mirador del Turó d'en Cort (Vallvidrera)
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>11:30 La Llacuna (esmorzar)
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'guasap/whatapp' o correu) abans de dimecres.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/20181017_Guimera.jpg", :alt => "Volta al Gaià 2018/10/17", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<BR/>
<% if user_signed_in? %>
<BR/>


<h3 class="ui header teal">Crònica:</h3>
<br/>Avui 3 motoristes, @Francesc KAWA400, @David F650 i @Ferran GSR600, hem fet 288Kms per anar i tornar de Guimerà per carreteres amb línia central, com el hi agraden al Francesc, ara bé molt brutes per les intenses pluges dels darrers dies, encara que això sí, un dia perfecte de tardor: solejat i sense fred. Sortim més tard algú s'ha retardat i amés ve sense benzina! Vinga anem a 'Cal Miralles' (****) a esmorzar que s'ens ha fet tard. Ens porta en Francesc per les seves carreteres. Mai havia rebut l'impacte de tantes pedretes! Despreès de Miralles anem cap a Guimerà a on parem a prendre una mica d'aigua. Tornem per Capellades i a Piera ens dividim i així cadascú va cap a casa. 
<div><BR/><BR/></div>
<h3 class="ui header teal">Reportatge gràfic:</h3>
<BR/> 
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181017_Guimera/2018-10-17 at 13.58.37.jpeg", :alt => "Milrevolts.life Sortida a Guimerà", :class => "mbr-figure__img") %></div>
</figure>
<p>Parada a Guimerà al Cafè Cal Moretes que ja coneixen al Francesc.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181017_Guimera/2018-10-17 at 13.59.06.jpeg", :alt => "Milrevolts.life Sortida a Guimerà", :class => "mbr-figure__img") %></div>
</figure>
<p>Que seria una sortida sense una parada per parlar de motos i sortides!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181017_Guimera/2018-10-17 at 14.35.38.jpeg", :alt => "Milrevolts.life Sortida a Guimerà", :class => "mbr-figure__img") %></div>
</figure>
<p>En Francesc, l'home moto.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181017_Guimera/2018-10-17 at 14.36.26.jpeg", :alt => "Milrevolts.life Sortida a Guimerà", :class => "mbr-figure__img") %></div>
</figure>
<p>En David, qui ha dit que un 'mono' no pugui anar ràpid si s'aprofita bé la carretera.</p>
<BR/>
<blockquote class="embedly-card" data-card-controls="0" data-card-key="f1631a41cb254ca5b035dc5747a5bd75"><h4><a href="https://www.relive.cc/view/rt10002014615?r=embed-site">Relive 'Sortida 15 octubre 2018'</a></h4></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<p>Gràcies David</p>


<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>




<div><BR/><BR/></div>
</div>
<div class="four wide column"></div>
</div>
</div>
