<% provide(:page_title, 'Volta al Lluçanès 2018/11/28') %>
<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Volta 'Complerta i Levogira' al Lluçanès.&nbsp;</h1>
<h2 class="ui header teal">Dimecres 28 de Novembre del 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > Sabadell > Castellterçol > Gallifa > Calders > Moià > Muntanyola > Oristà > Sant Bartomeu del Grau > Santa Eulàlia de Pui-Oriol > Prats de Lluçanès > Artés > Mura > Matadepera > C-58 > BCN 
</p>

<h3 class="ui header teal">Punt de trobada:</h3> 
<p>9:00 Sabadell: E.S. CEPSA Aeroport Avinguda Riu-sec, 7.
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>11:00 Ca La Filo (esmorzar) 
<BR/>15:00 BCN centre
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'WhatsApp') abans de dimecres.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.
<BR/>No hi han trams de camins rurals asfalts. No hi han camins de terra.
</p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/20181128_Llucanes.jpg", :alt => "Volta al Lluçanès 2018/11/28", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<BR/>
<% if user_signed_in? %>

<h3 class="ui header teal">Crònica:</h3>
<br/>
<p>Quatre motoristes: JM ENFIELD, Joan 1200GS, Josep TRACER i Ferran GSR600 han donat la Volta complerta i Levogira al Lluçanès, fent en un dia solejat 310 quilòmetres per les tranquil·les i boniques carreteres de la part central i septentrional de Barcelona província.</p>
<p>El punt de trobada, la benzinera CEPSA de l’aeroport de Sabadell ha estat ben rebuda, pel principal motiu que en 20 minuts tots hem arribat allà des de casa i que ja és prou lluny per sortir ben aviat del trànsit urbà.</p>
<p> Aquest cop hem sortit de la metròpolis per la maca carretera de Sentmenat, per pujar fins a St. Feliu de Codina per tal de girar i fer la sempre bonica carretera i paisatge de Gallifa fins a St. Llorenç de Savall. D’aquí pujar a Calders per a travessar ràpida i transversalment el Moianès fins a Muntanyola, a on hem parat a l'església, per escalfar-nos una mica al solet. Des d’aquí una delícia, St. Eulàlia de Riuprimer (tram nou pel grup) fins a Oristà, i aquí em girat cap a Sant Bartomeu del Grau per a pujar quasi fins a St. Agustí i girar cap a Santa Eulàlia de Puig-Oriol, a on a un quart d’ una hem esmorzat-dinat a Ca La Filo (****) unes boníssimes mandonguilles i costelles de porc amb ceba.</p>
<p>Aquest cop ens ha sorprès el Lluçanès, dins de la seva normal tranquil·litat, per la gran quantitat de boletaires i els seus cavalls pasturant tapats en mantes.
Donat el bon ritme en que hem pujat i dinat, hem decidit de completar la volta, pujant fins Alpens i baixant per la Riera de Merlès (a on no ens hem creuat cap cotxe) fins a Prats del Lluçanès. Ha sigut curiós les cares de joia, que fèiem tots a l’arribar a la benzinera d'Artés.</p> 
<p>Desprès de fer benzina i esperar que la 'Cecília' d'en Josep Maria es recuperès, els ‘quatre malalts de revolts’ hem decidit baixar per Calders i fer el parc natural de Sant Llorenç del Munt per Mura-Matadepera. A l'arribar a Terrassa ens hem acomiadat i dividit a la C-58 per tornar directes fins a casa a on hem arribat als vols de les cinc. 
<BR/>  
<BR/>
<h3 class="ui header teal">Reportatge gràfic:</h3>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181128_Llucanes/2018-11-28 at 10.59.04.jpeg", :alt => "Volta al Lluçanès 2018/11/28", :class => "mbr-figure__img") %></div>
</figure>
<p>Parada a l'església de Muntanyola.</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181128_Llucanes/2018-11-28 at 17.41.31.jpeg", :alt => "Volta al Lluçanès 2018/11/28", :class => "mbr-figure__img") %></div>
</figure>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181128_Llucanes/2018-11-28 at 17.41.jpeg", :alt => "Volta al Lluçanès 2018/11/28", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<p>Dinar a Ca La Filo i al solet, això no té preu.</p>
<p>Uf nois a aquestes hores! i ens diu: Tinc unes 'pilotes' i costelles de porc amb ceba!. Total, que en cinc minuts ens treu quatre plats, i que era de bo tot plegat!</p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181128_Llucanes/2018-11-28 at 17.43.34 (8).jpeg", :alt => "Volta al Lluçanès 2018/11/28", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<p>En Josep explicant els tres motius pels que la 'Cecília' d'en JM falles. O no té oli, o no carrega la bateria, o no funciona la bomba de l'oli'.</p>



<div><BR/><BR/></div>
<% else %>
<BR/>
<h3 class="ui header blue">Per inscriure-vos envieu-nos un WhatsApp.  
<BR/><i>Per a veure més detalls, llegir la Crònica i veure el Reportatge gràfic, cal identificar-se abans.</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>
<div><BR/><BR/></div>
</div>
<div class="four wide column"></div>
</div>
</div>
