<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida al Santuari de Montgrony.&nbsp;</h1>
<h2 class="ui header teal">Dimecres 14 de Novembre del 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > Calders > Moià > Prats de Lluçanès > Sant Quirze de Besora > Llaés > Capdevànol > Gombrèn > Santuari de Montgrony > Borredà > Santa Maria Merlès > Oristà > Calders > Mura > Matadepera > BCN
</p>

<h3 class="ui header teal">Punt de trobada:</h3> 
<p>Opció 1 (alta participació):	08:00 BCN Torres Bessones (MAFFRE) 
<BR/>Opció 2 (baixa participació): 7:30 BCN Horta
<BR/>Opció 2: 8:00 UAB
<BR/>Opció 1-2: 09:00 Castellar del Vallès (Benzinera BP - Estació Servei Truyols)
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>9:00 Castellar del Vallès
<BR/>10:00-10:30 Lluçà (esmorzar lleuger)
<BR/>12:15-12:30 Capdevànol (Bensinera SARAS)
<BR/>13:00-14:00 Santuari Montgrony (dinar 1-plat)
<BR/>15:30-16:00 Calders (parada per prendre alguna cosa)
<BR/>17:30-17:45 Matadepera (acomiadaments)
<BR/>18:45 BCN centre
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'whatapp' o correu) abans de dimecres.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.
<BR/>Hi han trams de camins rurals asfalts.
</p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/Montgrony_20181107.jpg", :alt => "Sortida al Santuary de Montgrony 2018/10/31", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<BR/>
<% if user_signed_in? %>
<h3 class="ui header teal">Crònica:</h3>
<br/>Aquest dimecres 4-motoristes: Eduard ENFIELD, Josep TRACER, Carles TRACER i Ferran GSR hem fet 355kms per anar - s'entén pujar i baixa - al Santuari Hostaleria de Montgrony.
<BR/>Molts boletaires (recollint bolets diuen. de tants que hi han) per les muntanyes i molt pocs ciclistes!
<BR/>Per anar hem fet la nostre ruta habitual, pujant pel Parc Natural de Sant Llorenç de Munt, enllaçar a Caldes amb Moià i pujar a Prats de Lluçanès. Hem esmorzat molt bé - al solet, bons embotits, bo pa, i ben servits - al Restaurant Ca la Filo (Cafè Nou) (****) al temps previst 10:15.
<BR/>Que bé! molt poques esperes poque motos i similar ritmes.
<BR/>Que impressionant els colors de tardor! 
<BR/>A l’arribar a Santa Maria de Besora hem aprofitat per apropar-nos a Vidrà 5kms per reservar taula al Hostal per dissabte que serem 20.
<BR/>El camí de Llaés estava preciós, raigs de llum reflectits en els grocs i taronges de les fulles dels faigs, però no hem caigut en la temptació de parar a fer fotografies ja que havíem de fer molts quilòmetres encara.
<BR/>Maco el tram de Gombrèn i espectacular el de pujada al santuari.
<BR/>Arribem a les dues i al restaurant de la Hostatgeria som dels primers i ens entaulem per prendre un plat (****) perquè les tardes ara som molts curtes hi al fer-se fosc no volem fer ja revolts. 
<BR/>Encara no són tres quarts de tres que ja som un altre cop sobre les motos per a baixar. La tornada ha sigut magnífica per uns paisatges preciosos i maques carreteres, ben asfaltades i amb forces revolts. 
<BR/>A l’arribar a la riera de Merlès el pont era encara en reparació però em pogut, ens han deixat, passar portant les motos al costat. La baixada per Alpens i Santa Eulàlia una veritable delícia. 
<BR/>De Sant Agustí a L’Estany, una hora i fins a Castellterçol 5 quarts. Aquí parem encara amb llum i xerrem una bona estona, acomiadant-nos al sortir.
<BR/>La Tornada per Sant Llorenç de Munt i Palau i Plegamans plena de cotxes però fem via ràpida per agafar l’autopista i ja cap a casa
<BR/><i>Quin dia més maco, que bé ens ho hem passat, com hem gaudit de la moto, del paisatge, de la taula i dels companys! Fins la propera!</i>
<div><BR/><BR/></div>
<h3 class="ui header teal">Reportatge gràfic:</h3>
<BR/>
<h4 class="ui header teal">Primera parada per esmorzar.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 11.07.41.jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>Just tocades les onze ja som al Llucanés per esmorzar. Ho tenim quasi tot a punt? Sous uns cracs de les tecnologies digitals, intercomunicadiors, mòbils i càmeres endollats a la moto! Carles, Eduard i Josep.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 10.17.03.jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>Quin solet, esmorzarem a fora. Josep, Carles i Eduard.<BR/></p>
<BR/> 
<h4 class="ui header teal">Que és maco el tram de Llaés!</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 22.04.22 (1).jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>Que és de maco el tram de Llaés! Eduard.<BR/></p>
<BR/> 
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 22.04.22 (2).jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep.<BR/></p>
<BR/> 
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 22.04.22.jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>Carles.<BR/></p>
<BR/>
<BR/>
<h4 class="ui header teal">La Hostaleria del Santuari de Montgrony.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 22.02.45.jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>El patí i la terrassa, quines vistes!<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 22.01.55.jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>El Pedraforca al fons.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 22.02.45 (1).jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>Gombrén a baix.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 14.03.58.jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>A les dues ja som dinant!<BR/></p>
<BR/>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 15.41.12.jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>No pots ser un altre cop el pont de la riera de Merlès tallat!<BR/></p>
<BR/>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181114_Montgrony/2018-11-14 at 17.17.28.jpeg", :alt => "Sortida al Santuari de Montgrony 2018/11/14", :class => "mbr-figure__img") %></div>
</figure>
<p>Tocades les cinc ja som a Castellterçol. Ja hem acabat els revolts i ja estem a tocar de casa!<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<iframe width="560" height="315" src="https://www.youtube.com/embed/owg2ubfvI7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
<p>Baixada cap a Borreda - Alpens. Gràcies Eduard!<BR/></p>
<BR/>

<% else %>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5dGoScpvP5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
<p>Vídeo resum de la sortida al Santuari de Montgrony. Gràcies Eduard!<BR/></p>
<BR/>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge gràfic, cal identificar-se abans.</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>

<% end %>
<div><BR/><BR/></div>

</div>
<div class="four wide column"></div>
</div>
</div>
