<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Volta al Montseny - Guilleries.</h1>
<h2 class="ui header teal">Dimecres 30 Maig 2018</h2>
<BR/>

<h4><i>30/05/2018 Volta al Montseny-Guilleries, 310kms.</i></h4>



<h3 class="ui header teal">Ruta:</h3> 
<p>(BCN) - Montgat (9:00 Ajuntament - Plaça Vila) - Mataró (9:30 Benzinera CEPSA N-II) - Sant Celoni - Santa Fe - St.Hilari Sacalm - Amer - Els Hostalets Bas - Rupit i Pruit - Vilanova Sau - El Brull - Montseny - Palautordera - Llinars V. - Vilassar - (Mataró/BCN)
</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("20180530_Montseny-Guilleries.jpg", :alt => "Ruta", :class => "mbr-figure__img") %></div>
                </figure>
<h3 class="ui header teal">Crònica:</h3>
<p>Ahir 3 motos Josep XADV, James MT07A2 i Ferran GSR600, vàrem fer 310kms creuant el Montseny per Santa Fe, fer la carretera de les mines d'Osor, també anomenada dels '13 angles de la mort', pujant ràpids per a desprès baixar creuant totes les Guilleries fins als pantans. A la tornada, vàrem creuar el Montseny per El Brull i el poble del Montseny.
<br/>Això amb les carreteres humides o mullades, brutes i amb força fullaraca, i dos xàfecs, curts però forts, i estones de sol que ens escalfava i eixugava.
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("IMG-20180530-WA0000.jpeg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %></div>
</figure>
<p>Trobada per sortir Josep i Ferran a Montgat (Plaça de la Vila).</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<iframe width="560" height="515" src="https://www.youtube.com/embed/3N6uu6qLXsI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</figure>
<p>@Josep HONDA XADV pujant al Montseny per Santa Fe.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("IMG-20180530-WA0002.jpeg", :alt => "Parada al Montseny", :class => "mbr-figure__img") %></div>
</figure>
<p>Parada al Montseny, ui que ens plourà! Ferran, James i en Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("IMG-20180530-WA0005.jpeg", :alt => "Parada al Montseny", :class => "mbr-figure__img") %></div>
</figure>
<p>Esmorzar a la plaça d'Amer, els entrepans fets al forn de pa.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("IMG-20180530-WA0009.jpeg", :alt => "Parada al Montseny", :class => "mbr-figure__img") %></div>
</figure>
<p>Parada a Rupit, desprès d'un xàfec, per prendre alguna cosa calenta. Els turistes arriben a tots els llocs que indiquen les guies turístiques. Diuen que és un dels pobles més antics de Catalunya.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("IMG_20180530_150417.jpg", :alt => "Les Guilleries", :class => "mbr-figure__img") %></div>
</figure>
<p>Començant una de les típiques 'carreteretes' de les Guilleries per on creuarem el Pantà de Sau.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<iframe width="560" height="515" src="https://www.youtube.com/embed/51vCwnw19kQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</figure>
<p>@James MT07 A2  'treballant' per les 'carreteretes' de les Guilleries, des de Rupit fins l'embassament de Sau.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("IMG_20180530_154200.jpg", :alt => "Pantà de Sau a Les Guilleries", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep i en James al pantà de Sau desprès de creuar les Guilleries.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("IMG_20180530_154243.jpg", :alt => "Pantà de Sau a Les Guilleries", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep i en Ferran al pantà de Sau desprès de creuar les Guilleries.</p>
<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>
