<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Sortida al Pedraforca-Port del Comte.&nbsp;</h1>
<h2 class="ui header teal">Dimecres 1 d'Agost de 2018</h2>
<BR/>

<h4><i>01/08/2018 "Sortida al Pedraforca-Port del Comte"</i></h4>

<h3 class="ui header teal">Ruta:</h3>
<p>BCN – Sant llorenç de Savall - Calders - Moià - Prats Lluçanès - Borredà – Poble de Lillet - ‘Mirador Pedraforca’ - Gósol – Tuixent – Port del Compte – Cambrils - Sant Llorenç de Morunys - Cardona – Súria - Pont de Vilomara - Mura – Matadepera – Terrassa – BCN</p>
</p>
<BR/>
<h3 class="ui header teal">Punts de trobada:</h3> 
<BR/>07:30 BCN Entença-Av.Roma/Mallorca
<BR/>08:00 BCN Carretera Horta a Cerdanyola n.50
<BR/>08:30 UAB Bellaterra Av Serragalliners (segona rotonda passat els Bombers)
<BR/>09:00 Castellar del Vallès (Benzinera BP - Estació Servei Truyols) Tots amb el dipòsit ple.
<BR/>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<BR/>11:00-11:30 Sta.Eulàlia Puig-Oriol (esmorzar a Cal Penyora ens esperen)
<BR/>12:30 La Poble Lillet
<BR/>13:30 Foto al Pedraforca ((Benzina)-Gósol per Vallcebre)
<BR/>14:00-15:00 Gósol (dinar)
<BR/>16:00 Cambrils (per Port del Compte-Odèn)
<BR/>17:00 St.Llorenç Morunys ((Benzina) per Montpol-Lladurs)
<BR/>18:30-17:00 Cardona (per Capolat--Gargallà (Benzinera))
<BR/>18:30 Talamanca-Mura
<BR/>19:00 Matadepera-Terrassa
<BR/>20:30 BCN 
<h3 class="ui header teal">Enquesta:</h3>
<BR/><%= link_to 'Enquesta de preferències per a la sortida (surveymonkey)', 'https://www.surveymonkey.com/r/HVWTXGL' %>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring' tot un dia.</p> 
<p>Si us plau confirmar abans de dimarts 24 Juliol.</p>
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>



                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("ruta1.jpg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>

<BR/>
<% if user_signed_in? %>
<BR/>

<h3 class="ui header teal">Crònica:</h3> 
<p>Una excel·lent excursió de 385kms, pujant 8 motos des de Castellar del Vallès 9h pel Moianès-Lluçanès al Berguedà, parant a esmorzar a les 11h a Sta. Eulàlia de Puig-Oriol al restaurant 'Cal Penyora' ***** (Si, si una màxima valoració, rapidesa, amabilitat, preu, comoditat,... un deu, si senyor!). 
<p>Ja feta la foto de grup al Pedraforca, a les 13:30, vàrem recórrer per Vallcebre el Coll de Pradell amb les antigues mines i el jaciment geo/paleontològic de Tumí (http://www.dinosauresfumanya.com/fumanya.php), veien unes altres vistes més altes del Pedraforca.</p> 
<p>Vàrem parar a prendre alguna cosa, encara sense gana, a Gósol (alguns sense cobertura al mòbil en aquest poble!), abans de fer el Coll de Jou i pujar al Port del Compte per arribar a Odén-Cambrils. </p>
<p>Des d'aquí ens va ser impossible, carretera tallada per obres, continuar cap a Montpol-Lladurs fer el bucle planejat fins Sant Llorenç del Munt, pel que vàrem haver de donar mitja volta.</p>
<p>Cinc valents encara vàrem tenir forces per fer el Coll de Jouet i desprès del tunel agafar la 'carretereta' de Capolat (Atenció! A tot li diuen carretera) per baixar fins a Cardona.</p>


                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180801_Pedraforca/Pedraforca2018-08-01at08.59.58.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Quin gust tothom puntual! i a les 9 en unt sortiem des de Castellar del Vallès.
<br/>07:30 BCN Entença-Av.Roma/Mallorca +Ramon BANDIT+Toni BMW1200+FerranGSR600
<br/>08:00 BCN Carretera Horta a Cerdanyola n.50 +Josep XADV+Josep TRACER
<br/>08:30 UAB Bellaterra Av Serragalliners (segona rotonda passat els Bombers) +Francesc FZ600 +Dolors BMW800R +Marc ER6N
<br/>09:00 Castellar del Vallès (Benzinera BP - Estació Servei Truyols) +Francesc Z100SX               
</p>



                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180801_Pedraforca/Pedraforca2018-08-01 at 09.28.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>A 2/4 10 arribem a Sant Llorenç de Savall.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180801_Pedraforca/2018-08-01 at 10.44.53.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("sortides/20180801_Pedraforca/2018-08-01 at 10.45.21.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>A 3/4 11 ja entaulats a Cal Penyora.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180801_Pedraforca/Pedraforca2018-08-01 at 11.54.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>A les 12h, més d'una hora esmorzant, sortim per Alpens, Borredà, Sant Jaume de Frontanyà, La Poble Lillet i Guardiola de Berguedà, fins al mirador del Pedraforca a Maçaners a on arribem a 2/4 14.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180801_Pedraforca/Pedraforca 2018-08-01 at 13.30.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180801_Pedraforca/Pedraforca 2018-08-01 at 13.31.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Foto del grup amb el Pedraforca al fons. Alguns (Josep i Francesc) ens varen de deixar per ja tornar a casa i la resta pel Coll de Pradell cap a Gósol. </p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("sortides/20180801_Pedraforca/Pedraforca 2018-08-01 at 13.28.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Sabeu que és aquesta marca a l'asfalt? Mai ho havíem vist! La marca d'asfalt fos i rebentat, per la pota de cabra que va fer caure la BMW800R de la Dolors. Atenció a on deixem les motos! Vigilem la resistència del terra i la de l'asfalt a la pota de cabra per aguantar bé la moto!</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180801_Pedraforca/2018-08-02 at 08.25.00.jpeg", :alt => "Sortida al Pedraforca 04/08/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Última foto del dia al Port del Comte, abans que (Toni i Francesc) ens deixessin per anar per la Llosa de Cavalls i la resta féssim l'últim esforç per fer el Coll de Jouet (ctra. de Berga) i desprès del tunel fer el tram Capolat-L'Espunyola. Això sí, al arribar a Cardona vàrem tornar directament cap a casa.</p>

<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>


<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>