<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sortida.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sortida.description %>
</p>

<%= link_to 'Subscriure per veure', subscription_path, class='ui button teal' %>


<%= link_to 'Edit', edit_sortida_path(@sortida) %> |
<%= link_to 'Back', sortidas_path %>
