<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="two wide column"></div>
    <div class="ten wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Volta al Parcs Naturals del Sud. &nbsp;</h1>
<h2 class="ui header teal">Dissabte 6 i diumenge 7 d'Octubre del 2018</h2>
<BR/>


<h4><i>6-7/10/2018 "Volta als Parcs Naturals del Sud de Catalunya: Montsant, Els Ports, Benifassà, Delta i Llaberia". 405+386=801kms</i></h4>


<h3 class="ui header teal">Ruta dissabte:</h3> 
<p>BCN – Gavà - Avinyonet - Font-rubí - La Llacuna - Pontils - Sarral - Poblet - Prades - Cornudella - Poboleda - 'Les Vilelles' - La Figuera - Gratallops - El Molar - Mora - Miravet - Pinell de Brai - Prat del Comte - Bot - Horta - Vall-de-roures - Penya-roja de Tastavins - Morella  
</p>
<h3 class="ui header teal">Ruta diumenge:</h3> 
<p>Morella - Vallibona - Rossell - La Sènia - Ulldecona - Alcanar - La Ràpita - Delta (Poble Nou, 'Lo Trabucador', Illa del Riu, Illa de Buda, 'Lo Passador', La Marquesa) - L'Ampolla - El Perelló - Gavadà - Pratdip - Mont-roig - Duesaigües - Porrera - Coll d'Alforja - (Arbolí) - La Musara - La Febró - Capafons - Alcover - Vilallonga - El Rourell - Vallmoll - Valls - Vila-rodona - Aiguaviva - St.Jaume Domenys - 'Vila' - Gavà - BCN   
</p>
<h3 class="ui header teal">Ruta dissabte (anada i tornada en un dia):</h3> 
<p>Junts fins a El Molar i tornada per Porrera - Coll d'Alforja - La Musara - La Febró - Capafonts - Alcover - Valls - Vila-rodona - Aiguamúrcia - Sant Jaume Domenys - La Múnia - Vila - Avinyonet - Gava - BCN  
</p>
<BR/>
<h3 class="ui header teal">Punts de trobada:</h3> 
<p>8:00 BCN Montjuïc (Avinguda de l'estadi 42)
<BR/>8:30 Gavà (E.S. bonÀrea C/Bertran Güell, 17)
<BR/>9:00 Avinyonet (Església, NII-BV2411)  
</p>
<h3 class="ui header teal">Parades previstes i temps aprox. dissabte:</h3>
<p>9:30 Benzinera Petrocat - Restaurant Miralles (Sta.Maria de Miralles) (esmorzar)   
<BR/>11:00 Benzinera bonÀrea (L'Espluga de Francolí)
<BR/>14:30 La Vilella Baixa (dinar)
<BR/>17:00 'Els Ports' (bany al riu)
<BR/>20:30 Morella 
</p>
<h3 class="ui header teal">Parades previstes i temps aprox. diumenge:</h3>
<p>9:00 Morella (sortida tots esmorzats)   
<BR/>11:00 Delta 
<BR/>14:00 Pratdip (dinar)
<BR/>17:00 Capafons
<BR/>20:30 BCN 
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring' tot un dia.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>El cost de dormir i esmorzar a un bon hotel de Morella és de 59€.
<BR/>Si us plau confirmar el més aviat possible per a reservar l'hotel, enviant un 'whatsapp'.
</p> 

<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>


                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("Sud 1-2.jpg", :alt => "Sortida al Sud 06/10/2018", :class => "mbr-figure__img") %></div>
                </figure>
<BR/>
<% if user_signed_in? %>
<BR/>
<h2 class="ui header teal">Crònica:</h2>
<blockquote>
<p class='pagraf' style='text-align: justify;'>
El dissabte 12 motoristes (Ricart TRACER, Ferran GSR, Josep F800GT, Eduard ENFIELD, Josep XADV, Josep Maria TRACER, Ramon BANDIT, Francesc FZ6, Dani R1, David F650, Dolors 800R i Julio 850R) vàrem sortir cap al Sud. La mitat amb destinació al Prades-Montsant-Priorat per a tornar el mateix dia al vespre i la resta per a continuar fins a Morella, dormir allà i així aprofita de fer carreteres desconegudes, d’escàs trànsit i en bonic paratges de la Terra Alta, dels Parcs Naturals de Benifassà i de Llaberia, i endinsar-se al Delta fins a les platges del Trabucador i Serrallo.</p>
<p class='pagraf' style='text-align: justify;'>
Aquesta és la primera sortida que compartim ubicació dins el grup, encara que no ho hem necessitat, ningú s’ha perdut i mai hem fet tard, ha anat perfecte per a que les dones sabessin a on estaven en tot moment. La Dolors ens comenta que hi han altre aplicacions més complertes amb més prestacions per a les sortides en grup, ho haurem d’investigar.</p>
<p class='pagraf' style='text-align: justify;'>
Amb puntualitat suïssa ens vàrem anar agrupant a Montjuïc, Gavà i finalment a les nou a Avinyonet. Aquí donat el nombrós grup, la falta de coneixement de la dinàmica de grup i el gran fallo del xerpa en la primera arrancada i cruïlla de desviament, vàrem tenir el primer ensurt, quan la mitat del grup no es va donar que a cent metres ja havíem girat per a sortir de la N-340, i tiraven rectes direcció a Vila. Menys mal de veure’ls passar per a que en un parell de rectes a la primera rotonda girar-los tots de tornada, per reagrupant-nos tots un altre cop a l’altra banda d’Avinyonet.  Podem pensar en fer un breu ‘briefng’ per a donar les instruccions bàsiques als nous, com és estar a la guaita per a no sortir tard i perdre mai de vista al grup. 
A partir d’aquí amb un ritme baix i un grup compacte vàrem creuar tot el Penedès entre vinyes, però al pujar cap a les capçaleres del Foix, el grup es va animar i estirar, fins a La Llacuna. D’Esblada a Pontils, tothom va quedar meravellat de l'espectacularitat i bellesa de Santa Mª de Gaià i de l’asfalt de la carretera. Continuant per carreteres secundaries quasi vàrem arribar a Rocafort a on ens esperaven amb una gran taula a fora el mateix carrer (Mircla ****) a on tenen un bon sortit per a fer unes llesques amb pa amb tomàquet. Ens comenta que en aquestes dies hi han més mosques perquè els pagesos estan abonant les vinyes amb purins.</p>
<p class='pagraf' style='text-align: justify;'>
En un dia preciós, La Conca la vàrem creuar transversalment per a pujar a Prades per Poblet i continuar cap a Cornudella per fer benzina abans d’entrar al Priorat. Atenció motoristes! Pot ser convenient fer benzina abans de pujar a aquesta zona de Prades-Montsant-Priorat, ja que la escassetat de sortidors i l’acumulació de vehicles a les benzineres ens pot fer retardar molt. Entrant per Poboleda vàrem fer un ‘intens’ de Priorat encerclant-lo tot ‘Vilelles’, Cabacés, La Figuera, El Molar, El Lloar, Gratallops, i fins a Porrera. Quina calor, anem massa abrigats i amb aquest sol! Aquí ens entaulem, al Rebost (**** magnífic lloc a la plaça sota els arbres) per fer unes amanides, braves i croquetes per a compartir i hidratant-nos a fons pel que hem suat i el que encara suarem. En Eduard fa anys i ens convida a tots. Moltíssimes gràcies!</p>
<p class='pagraf' style='text-align: justify;'>
Aquí ens acomiadem els dos grups. Uns tornaran fent una complerta ruta per les muntanyes de Prades (La Mussara, La Febró, Capafons) per a baixar a Alcover i tornar per Avinyonet i els altres per anar cap a l’Ebre, fent Torroja, Gratallops, El Molar, El Lloar i Garcia. Vaja quins plaers ambdós! 
A la Terra Alta vam entrar per Mora, Benifallet, Miravet, pujant cap a El Pinell de Brai i Port del Compte, d’aquí passem a Bot per Les Roques, a on sota el Rocamala (612m), ens fotografiem tots junts. Fins a Horta més revolts, per agafar la carretera d’Alcanyís fins a Vall-de-Roures a on girem per anar per carreteres secundàries fins a Penya-roja de Tastavins i Herbers, a on amb fred arribem a Morella quasi fosc. Cansats ja només volem aparcar les motos i dutxar-nos, coses que fem abans de donar una volta el poble per veure l'Església, el Convent, l’Ajuntament i el carrer major porticat. En aquest, sota els portals, ens prenem cadascú un plat acompanyat per un bon vi negre (Ull de Llebre-Cabernet de dos anys. Ple i astringent.) de Castelló, tot xerrant no només de motos i gaudint dels riures i de la companyia. Al acabar la tertúlia, ja no és d’hora i anem cap a dormir que demà ens espera un altre gran dia.</p>
<p class='pagraf' style='text-align: justify;'>
Abans de 1/4 9 ja estem esmorzant i comentant les notícies del dia però ens hem d’afanyar que ja comencem tard. Posem benzina només baixar del poble, per Llavors agafar el trencall de la carretera del Parc de Benifassà. Fins a Vallibona, una delícia d’asfalt i de carretera, amb un tram final ampla amb línia central. En lloc d’agafar per dalt, el xerpa s’equivoca i porta al grup per baix fins a prop dels safareigs del costat del riu i en lloc de donar la volta en rodó puja pels carrer fins la plaça principals. Quan va a avisar als altres que reculin, ja és massa tard i alguns ja estan a dalt, altres parats en mig dels carrers costeruts. Un a un anem solucionant tots plegats les situacions i finalment ens tornem ajuntar a la plaça. Carai, les dots trialeres d’en Ricart i la seva TRACER, que decidit tira pel mig del carrer sense rampa i amb esglaons, per així pujar fins a dalt.</p>
<p class='pagraf' style='text-align: justify;'>
D’aquí surt la llarga carretera de muntanya però amb bon asfalt que’ns portarà fins a Rosell, últim poble abans de creuar el Sénia i tornar a Catalunya. Passem ràpidament els dos restaurants amb estrella Michelin, El Vell Molí i Les lloses, per baixar a Ulldecona de camí a Alcanar. Quines vistes més maques del Delta iu la Plana però quin Mestral que bufa. Creuem Les Cases d’Alcanar i La Ràpita per entrar pel Poble Nou al Delta, a on el vent de costat ens balanceja les motos. Al menys aquest for vent l’aprofiten uns quants ‘Kit-Surfistes’ als Alfacs a l’inici del trabucador. D’aquí fins al Serrallo (8,5km) pel camí de la platja, per on en Josep XADV s’avança gràcies als seus neumàtics mixtes terra-carretera.</p>
<p class='pagraf' style='text-align: justify;'>
Entre arrossars i al costa de les séquies i canals vam anar a creuar ‘Lo Riu’ pel pont de ‘Lo Passador’ que uneix ara Sant Jaume amb Deltebre i d’aquí a sortit del Delta per l’Ampolla. Per no fer més N-340 a El Perelló ens fiquem per olivars al camí de Gavadà a on només ens creuem amb un parell de ciclistes. Creuem la carretera de Mora per entrar al tram del Ralli Costa Brava WRC de Pratdip. Quina altra delícia! Fem la recta de Montbrió, no fem benzina perquè ja ens esperen amb la taula preparada a ‘L’Aire de Colldejou’ (*** simple però net i ràpids). Ep nois, portem mitja hora de retard més aquesta sobretaula, ja fan l’hora i com el Barça comença a 3/4 9, decidim fer tot Prades i a l’arribar a Alcover decidir si fem ‘El Motmell’ (que el fem en sortides d’un dia) o anem directament a Avinyonet.</p>
<p class='pagraf' style='text-align: justify;'>
Quina altra delícia, Fer la Torre de Fontaubella, Porrera fins al riu Siurana.  Ui sorpresa, la BANDIT ha gastat més benzina que la GSR, i no arribarà a Alcover, pel que vàrem d’anar a la benzinera de Cornudella abans de fer el Coll d’Alforja i entrar al Massís però sorpresa, no té benzina SUPER, pel que vàrem d’anar fins a Prades. Aquí alguns del grup no veuen al xerpa parat a la cruïlla de la recta i és impossible retornar-los fins arribar a Albarca. Un altre cop tos junts a Prades, és evident que haurem d’escorçar per Capafons per baixar a Alcover, i d’allí continuar directes fins a Avinyonet. Amb una tarda preciosa és excitant anar fins Alcover.
En grup arribem fins a Avinyonet ja negra nit i en Josep i la seva ‘Super-Il·luminaria’ ens porta com un míssil fins a Begues a on ens tornem a reagrupar per tornar fins a Barcelona plegats. Felicitem a en Ricart que amb els seu dos mil quilòmetres amb una moto de carretera, ens a seguit durant els dos dies per a tot tipus de carreteres i camins. Se l’hi nota que torna amb més confiança i ritme de com havia començat.</p> 
<p class='pagraf' style='text-align: justify;'>
Arribem a casa per veure la repetició del gol del València. Vaja quin dia! Vaja quin cap de setmana! Vaja quines carreteres! Que és maco és el nostre país! Vaja quins companys! Que bé que m’ho he passat! No ho oblidaré mai!</p>
</blockquote>
<br/>
<h2 class="ui header teal">Reportatge:</h2>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 07.38.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>3/4 8 aprofito per compartir la meva ubicació a tot el grup de 'guasap' mitjançant 'el google maps'. A veure si ningú es perd i no ho necessitem!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 07.51.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Que bé tothom puntual. Eduard, Dani i Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 08.26.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Encara no són 2/4 i tots puntuals a Gavà. Francesc, que l'hi passa a la teva FAZER? Francesc, Dani i Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 08.26.46.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Que els hi expliques Josep Maria? Ricart, Josep Maria, Josep d'esquena, Ramon i Eduard.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 10.57.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>A 2/4 11 entaulats per esmorzar a Blancafort. Francesc, Dolors, Dani, Ramon, David, Ricart, Eduard i Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06_10.57.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>David, Ricart, Julio, Eduard, Josep XADV, Josep 800GT, Francesc, Dolors, Dani i Ramon. </p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 15.13.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>A le tres ja som a Porrera. Tanta calor fa que aneu amb mànigues de camisa. David, Francesc i Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06_15.30.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>David, Francesc, Josep i Ferran. Sí, sí Josep en Francesc sap veure bé amb porró.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 15.12.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Julio, Ricart i Josep Maria.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 15.12.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>En Eduard i la seva inseparable e-pipa i en Josep amb el seu inseparable mòbil.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 15.30.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Eduard, per l'entusiasme i alegria quants anys deies que feies 40? Moltes gràcies per convidar-nos!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 15.08.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Al bell mig del Priorat! Hem vist totes els pobles oi? Josep, Dolors, Josep, Dani, Ricart, Ramon, Eduard i David.</p>
<BR/>
<h3 class="ui header teal">El grup de dissabte.</h3> 
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 21.07.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>en una parada revisant la ruta de tornada. Eduard, Dani, Francesc i Dolors.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 21.07.53.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Eduard, Dani, Francesc i Dolors.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 21.07.44.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Dolors, Eduard, Francesc i Dani.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06_21.07.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Vaja un tram amb boira al massís de Prades.</p>
<BR/><BR/>
<h3 class="ui header teal">El grup de dissabte-diumenge.</h3> 
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 18.19.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 18.20.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 18.15.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>No són 2/4 7 i ja som sobre Bot. Vinga parem en aquesta carretera increïble i ens fem una foto.<BR/>
Aquí hi ha màgia, sembla que som divins. Ramon acotat, Josep Maria, Josep, Ferran, Ricard i Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 20.17.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Van a tocar les vuit i ja som a l'hotel, però ja és fosc.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 21.09.38.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Anem a donar una volta per a visitar el poble abans de sopar.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-06 at 21.46.48.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Ben entaulats, però només farem un plat. Josep Maria, Josep, Josep, Ricart, Ferran i Ramon.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07_10.58.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Vinga nois a agafar les motos al garatge!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 10.58.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Primera parada Vallibona. Vaja quina carretera que hem fet!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 22.17.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Aquest xerpa va a cop de pito com un militar! Vinga anem-hi!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-08 at 09.02.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Vaja quins carrers més costeruts! Quin ensurt al ficar-nos adins!</p>
<BR/>
<p>Arribada a Rossell, desprès d'haver fet els 40 kms del Parc Natural de Benifassà.
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 22.03.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep, parem a fer un cigarret?</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 10.59.26.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>En Ramon, seguint el ritme dels de davant. Molt bé!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 11.00.21-1.jpg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>En Ricart, l'heroi del 'capse', només 2000kms en moto de carretera. Molt bé!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 12.10.39.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Tercera parada: El Trabucador. Vaja com bufa el Mestral avui!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 21.27.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Uf són ja les dotze, portem una hora de retard. Vinga una foto i ens en anem! Ferran, Ricart, Josep, Ramon, Josep Maria i Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 12.50.57.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Hi han urgències que no poden esperar, parem a 'Lo Passador'!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 14.50.02.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Parada a Pratdip, hem fet tot el camí de Gavada i el deliciós tram del WRC en diumenge i només ens hem creuat amb un cotxe! Vinga ara cap a dinar a Colldejou! Josep. Josep Maria, Ricart, Ferran i Ramon.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 20.38.37.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Desprès de dinar uns quants revolts-revolts fins a la Torre de Fonttaubella, per a pujar al coll de la Teixeta i baixar a Porrera. No, no, aquesta carretera  no la vàrem fer ahir. Hi han quatre carreteres que surten de Porrera, ahir dos i avui dos més, per al final sortir per a baix el Siurana.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181006_Sud/2018-10-07 at 20.19.35.jpeg", :alt => "Cap de setmana al Parcs Naturals del Sud. Dc 03/10/2018", :class => "mbr-figure__img") %></div>
</figure>
<p>Desprès de fer benzina a Prades, tornem per Capafons i Alcover. Allà directes cap a Avinyonet, Begues i Gavà. En Josep a Granollers l'hi va caure un bon xàfec i la resta erem a casa per veure el Barça!</p>
<p><b><i>Vaja quina sortida! Vaja quin cap de setmana! Quan és la propera?</i></b></p>
<div><BR/><BR/></div>
    </div>
     <div class="two wide column"></div>

<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= video_tag(["sortides/20181006_Sud/2018-10-07 at 22.39.47.mp4"], :size => "", :controls => true) %>
</figure>
<p>Moltes gràcies Eduard pel vídeo!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= video_tag(["sortides/20181006_Sud/2018-10-08 at 13.41.04.mp4"], :size => "", :controls => true) %>
</figure>
<p>Moltes gràcies Josep XADV pel vídeo!</p>

<% else %>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>
<div><BR/><BR/></div>

  </div>
</div>
</div>
