<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Volta a les muntanyes de Prades-Montsant</h1>
<h2 class="ui header teal">Dissabte 14 Juliol 2018 </h2>
<BR/>

<h4><i>Dissabte 14 Juliol 2018 "Volta a les muntanyes de Prades-Montsant" 385kms</i></h4>



<h3 class="ui header teal">Ruta:</h3>
<p>BCN -> (Vallvidrera) -> Molins Rei-> Begues -> Olesa Bonesvalls -> La Llacuna -> Solivella -> Prades -> Cornudella -> Capafons -> Alcover -> Vila-rodona -> St Jaume Domenys -> Pantà Foix -> Vilanova -> Sitges -> Garraf -> Castelldefels -> BCN
<BR/>
Des de BCN o Gavà tots amb els dipòsits plens anirem cap a El Penedès per Begues i el creurem entre vinyes,ara molt verdes, des de 'Avinyonet' fins Font-rubí ja al peu de muntanyes de les 'Capçaleres del Foix'. 
<BR/>Les creurem fent molt revolts entre pins per entrar a l'Anoia arribant a La Llacuna i ben a prop pararem una estoreta per xerrar o prendre quelcom. 
Per prats i boscos entrarem a la Conca de Barberà que la creurem transversalment des de Rocafort de Queralt fins a L'Espluga de Francolí, a on pararem per fer benzina, abans de pujar a Prades des de Poblet. 
<BR/>Cap a les dues entrarem a la plaça major i ens aplegarem junts a la Font de Prades per fer la fotografia oficial del grup. 
<BR/>Aquí hi ha un bon assortiment de bars i restaurant per a escollir. Desprès de dinar, entrarem a la Serra del Montsant per Cornudella i la voltarem per Poboleda, 'Les Vilelles' Alta i Baixa, Gratallops i girarem capa Porrera a on pararem a prendre un cafè. 
<BR/>Des d'aquí ja tornarem, però abans farem la volta a Les Muntanyes de Prades, entrant pel Coll d'Alforja, veurem les vistes des dels escarpats de La Musara, i baixarem cap a La Febró, per anar cap a Capafonts i finalment baixar a Alcover. 
<BR/>Des d'aquí creuar el Alt Camp transversalment per anar a Vila-rodona i fent uns quants revolts arribar a Aiguaviva a on pararem una estona abans de fer el tram final del trajecte. 
Desprès de baixar al Penedès el creurem transversalment passant per Vilafranca. Aquí girarem cap al Parc Natural del Garraf, que el creurem per la pista asfaltada des de Olivella fins a Les Botigues de Castelldefels. D'aquí tots cap a casa cap a 2/4 de 9 del vespre.
<BR/>
<h3 class="ui header teal">Punts de trobada i horari:</h3>
<BR/>8:00 BCN Montjuïc (Avinguda de l'estadi 42)
<BR/>8:30 Gavà (E.S. bonÀrea C/Bertran Güell, 17)  
<BR/>
<h3 class="ui header teal">Parades previstes i temps aprox.: </h3>
<BR/>11:00 Benzinera Petrocat - Restaurant Miralles (Sta.Maria de Miralles)   
<BR/>13:00 Benzinera bonÀrea (L'Espluga de Francolí)
<BR/>14:00 Prades
<BR/>16:30 Porrera
<BR/>19:00 Aiguaviva
<BR/>
<BR/>
<h3 class="ui header teal">Observacions:</h3> 
<p>No hi han pistes de terra. Hi ha un tram de camí asfaltat.</p>

<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180714_Prades/Dissabte 14Juliol Prades-Montsant_640x400.jpg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %></div>
                </figure>

<BR/>
<% if user_signed_in? %>
<BR/>

<h3 class="ui header teal">Crònica:</h3>
<p>Ahir 6 motos vàrem fer 385kms creuant el Penedès i pujant i baixant de La Llacuna per esmorzar a Sta. Maria de Miralles ****. 
<br/>D'aquí vàrem traspassar transversalment la Conca fins a Poblet, abans de pujar a Prades, a on vàrem parar a la plaça, plena de gent, per prendre alguna cosa. Han fet un bon aparcament de motos però queda una mica amagat i allunyat.  
<br/>Vàrem entrar al Priorat cercant un restaurant, i vàrem dinar al costat de la piscina del càmping de Poboleda ***.
<br/>A la tarda vàrem fer el Priorat (atenció als cotxes imprudents en aquestes desèrtiques carreteres) per parar a Porrera a prendre alguna cosa i xerrar una estona, i agafa forces per el trams de la muntanya de Prades.
<br/>Aquestes les vàrem fer quasi totes i d'una tirada, Arbolí, La Musara, La Febro, Capafons i Alcover. D'aquí tot recte per prendre alguna cosa a Vila-rodona. Des d'aquí el tram d'Aiguaviva a Sant Jaume dels Domenys.
<br/>Ens vàrem dividir a Avinyó Nou, uns per l'Ordal i altres per Gavà. 
</p>

<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= image_tag("sortides/20180714_Prades/2018-07-14 at 07.54.24.jpeg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %>
</figure>
<p>Toni i Pedro, que ja es coneixien, xerrant a Montjuïc, primer punt de trobada. Tots puntuals.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= image_tag("sortides/20180714_Prades/2018-07-14 at 08.40.03.jpeg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %>
</figure>
<p>Tots puntuals i a punt de sortir a Gavà. Josep, Dolors i Pedro presentant-se.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= image_tag("sortides/20180714_Prades/2018-07-14 at 10.16.05.jpeg", :alt => "Esmorzar", :class => "mbr-figure__img") %>
</figure>
<p>Esmorzant a Sta.Mª de Miralles ****. Ernesto (que es va anar desprès per motius urgents de feina), Francesc, Dolors, Pedro i Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= image_tag("sortides/20180714_Prades/2018-07-14 at 12.43.25.jpeg", :alt => "Prades Aparcament", :class => "mbr-figure__img") %>
</figure>
<p>Aparcament de motos a Prades una mica amagat i allunyat. No hi ha una altra solució, hi ha molta gent és dissabte!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= image_tag("sortides/20180714_Prades/2018-07-14 at 17.34.38.jpeg", :alt => "Porrera, Dolors", :class => "mbr-figure__img") %>
</figure>
<p>La 'Fabulosa' Dolors a Porrera, xerrar i prendre alguna cosa per agafar forces que les Muntanyes de Prades ens estan esperant!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<%= video_tag(["sortides/20180714_Prades/Video20180714Montral.mp4"], :size => "", :controls => true) %>
</figure>
<p>En Toni va fer drecera a la Musara i quans ens vàrem retrobar a Mont-ral ens va filmar l'arribada.</p>
<h5 class='ui header red'><i>Atenció: si no el veieu el vídeo correctament canvieu de navegador. Perdoneu!</i></h5>

<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>

<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>
