<div class='ui form'>    
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html:{id: 'member_form'})  do |f| %>

<%= hidden_field_tag :plan, params[:plan] %>

<h4 class='ui header red'><i><%= f.error_notification %></i></h4>
 
        <div class="field">
          <%= f.label :nom %>
          <div class="ui left icon input">
          <%= f.text_field :nom, autofocus: true, required: true, placeholder:"Nom, com Josep, Joan,... "%>
          <i class="user icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :Primer_cognom %>
          <div class="ui left icon input">
          <%= f.text_field :cognom1, autofocus: true, placeholder:"Primer cognom"%>
          <i class="user icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :Segon_cognom %>
          <div class="ui left icon input">
          <%= f.text_field :cognom2, autofocus: true, placeholder:"Segon cognom"%>
          <i class="user icon"></i>
          </div>
        </div>
        <BR/>
         <div c
         <div class="field">
          <%= f.label :avatar %>
          <div class="ui left icon input">
          <%= f.file_field :avatar, autofocus: true, placeholder:"El teu Avatar"%>
          <i class="user circle icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :moto %>
          <div class="ui left icon input">
          <%= f.text_field :moto, autofocus: true, required: true, placeholder:"La teva moto, com GSR600, MT01, 390, Z1000,..."%>
          <i class="motorcycle icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :foto_de_la_teva_moto %>
          <div class="ui left icon input">
          <%= f.file_field :foto_moto, autofocus: true, placeholder:"La foto de la teva moto"%>
          <i class="motorcycle icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :localitat %>
          <div class="ui left icon input">
          <%= f.text_field :localitat, autofocus: true, required: true, placeholder:"A on resideixes, com BCN, BDN, Gavà, Terrassa,..."%>
          <i class="map marker alternate icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :data_de_naixement %>
          <div class="ui left icon input">
          <%= f.date_select :data_naixement, autofocus: true, required: true, placeholder:"Any del teu naixement", start_year: DateTime.now.year - 18, end_year: DateTime.now.year - 75 %>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :curta_presentació_com_motorista %>
          <div class="ui left icon input">
          <%= f.text_area :presentacio, autofocus: true, placeholder:"La teva curta presenatció com motorista" %>
          </div>
        </div>
        <BR/><BR/>
         <div class='ui divider teal'></div>
         <div style='margin-top:20px;'><BR/><BR/></div>
        <div class="field" style="margin-top:20px;">
          <%= f.label :mòbil, style: "margin-top:20px;" %>
          <div class="ui left icon input">
          <%= f.text_field :mobil, autofocus: true, placeholder:"El número del teu mòbil per unir-te al grup de WhatsApp" %>
           <i class="phone square icon"></i>
          </div>
        </div>
        <BR/>
        <BR/>
        <div class="field">
          <%= f.label :email %>
          <div class="ui left icon input">
          <%= f.email_field :email, autofocus: true, placeholder:"El teu correu electrònic, com nom.cognom@email.com"%>
          <i class="at icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
          <%= f.password_field :password, autocomplete: "off" ,placeholder:"Password"%>
          <i class="lock icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :password_confirmation %>
          <div class="ui left icon input">
          <%= f.password_field :password_confirmation, autofocus: true,autocomplete: "off", placeholder:"Password confirmation"%>
          <i class="lock icon"></i>
          </div>
        </div>

        <div><BR/><BR/></div>

        <% if params[:plan] = '2' %>
        <h4 class="ui left aligned dividing header teal">



<!-- on HEAD
  <script src="https://js.stripe.com/v3/"></script> 
-->
<form action="/charge" method="post" id="payment-form">
  <div class="form-row">
    <label for="card-element">Credit or debit card</label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>
    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>
  <button>Fer el pagament</button>
</form>


<div><BR/><BR/></div>

 <!--Example 4-->
      <div class="cell example example4">
        <form>
          <div id="example4-paymentRequest">
            <!--Stripe paymentRequestButton Element inserted here-->
          </div>
          <fieldset>
            <legend class="card-only" data-tid="elements_examples.form.pay_with_card">Pay with card</legend>
            <legend class="payment-request-available" data-tid="elements_examples.form.enter_card_manually">Or enter card details</legend>
            <div class="container">
              <div id="example4-card"></div>
              <button type="submit" data-tid="elements_examples.form.donate_button">Donate</button>
            </div>
          </fieldset>
          <div class="error" role="alert"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
              <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
              <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
            </svg>
            <span class="message"></span></div>
        </form>
        <div class="success">
          <div class="icon">
            <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
              <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
            </svg>
          </div>
          <h3 class="title" data-tid="elements_examples.success.title">Payment successful</h3>
          <p class="message"><span data-tid="elements_examples.success.message">Thanks for trying Stripe Elements. No money was charged, but we generated a token: </span><span class="token">tok_189gMN2eZvKYlo2CwTBv9KKh</span></p>
          <a class="reset" href="#">
            <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path fill="#000000" d="M15,7.05492878 C10.5000495,7.55237307 7,11.3674463 7,16 C7,20.9705627 11.0294373,25 16,25 C20.9705627,25 25,20.9705627 25,16 C25,15.3627484 24.4834055,14.8461538 23.8461538,14.8461538 C23.2089022,14.8461538 22.6923077,15.3627484 22.6923077,16 C22.6923077,19.6960595 19.6960595,22.6923077 16,22.6923077 C12.3039405,22.6923077 9.30769231,19.6960595 9.30769231,16 C9.30769231,12.3039405 12.3039405,9.30769231 16,9.30769231 L16,12.0841673 C16,12.1800431 16.0275652,12.2738974 16.0794108,12.354546 C16.2287368,12.5868311 16.5380938,12.6540826 16.7703788,12.5047565 L22.3457501,8.92058924 L22.3457501,8.92058924 C22.4060014,8.88185624 22.4572275,8.83063012 22.4959605,8.7703788 C22.6452866,8.53809377 22.5780351,8.22873685 22.3457501,8.07941076 L22.3457501,8.07941076 L16.7703788,4.49524351 C16.6897301,4.44339794 16.5958758,4.41583275 16.5,4.41583275 C16.2238576,4.41583275 16,4.63969037 16,4.91583275 L16,7 L15,7 L15,7.05492878 Z M16,32 C7.163444,32 0,24.836556 0,16 C0,7.163444 7.163444,0 16,0 C24.836556,0 32,7.163444 32,16 C32,24.836556 24.836556,32 16,32 Z"></path>
            </svg>
          </a>
        </div>

        <div class="caption">
          <span data-tid="elements_examples.caption.no_charge" class="no-charge">Your card won't be charged</span>
          <a class="source" href="https://github.com/stripe/elements-examples/#example-4">
            <svg width="16px" height="10px" viewBox="0 0 16 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M1,8 L12,8 C12.5522847,8 13,8.44771525 13,9 C13,9.55228475 12.5522847,10 12,10 L1,10 C0.44771525,10 6.76353751e-17,9.55228475 0,9 C-6.76353751e-17,8.44771525 0.44771525,8 1,8 L1,8 Z M1,4 L8,4 C8.55228475,4 9,4.44771525 9,5 C9,5.55228475 8.55228475,6 8,6 L1,6 C0.44771525,6 6.76353751e-17,5.55228475 0,5 C-6.76353751e-17,4.44771525 0.44771525,4 1,4 L1,4 Z M1,0 L15,0 C15.5522847,-1.01453063e-16 16,0.44771525 16,1 L16,1 C16,1.55228475 15.5522847,2 15,2 L1,2 C0.44771525,2 6.76353751e-17,1.55228475 0,1 L0,1 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 L1,0 Z" fill="#AAB7C4"></path>
            </svg>
            <span data-tid="elements_examples.caption.view_source">View source on GitHub</span>
          </a>
        </div>
      </div>

<div><BR/><BR/></div>









        <div class="field">
         <%= f.label :card_number, 'Número de la tarjeta de crèdit' %>
          <div class="credit card outline icon teal">
          <%#= f.text_field :card_number, placeholder:"4585458263007755"%>
          </div>
        </div>
        <div class="field">
         <%= f.label :card_holder, 'Titular de la trajeta' %>
          <div class="credit card outline icon teal">
          <%#= f.text_field :card_name, placeholder:"4585458263007755"%>
          </div>
        </div>
        <div class="field">
         <%= f.label :data_caducitat, 'Data de caducitat AA/mm' %>
          <div class="credit card outline icon teal">
          <%#= f.text_field :card_caducitat, placeholder:"4585458263007755"%>
          </div>
        </div>
        <div class="field">
         <%= f.label :card_codi, 'Code de seguretat' %>
          <div class="credit card outline icon teal">
          <%#= f.text_field :card_code, placeholder:"4585458263007755"%>
          </div>
        </div>  
        <% end %>


<div><BR/><BR/><BR/></div>

    <div class="ui row" style='margin-bottom:15px; margin-top:60px;'>
        <h4 class='ui center aligned header red'><i>Perdoneu, és encara en desenvolupament.</i></h4>
    </div>  

        <div class="ui basic segment center aligned">
          <%= f.submit "ENVIA" ,class: "ui submit button teal", id: 'submit_member_form', style: "margin-top:20px;" %>
        </div>

<% end %>
</div>