   <div class='ui form'>    
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html:{id: 'associat_form'})  do |f| %>

<%= hidden_field_tag :plan, params[:plan] %>

<h4 class='ui header red'><i><%= f.error_notification %></i></h4>
 
        <div class="field">
          <%= f.label :nom %>
          <div class="ui left icon input">
          <%= f.text_field :nom, autofocus: true, required: true, placeholder:"Nom, com Josep, Joan,... "%>
          <i class="user icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :Primer_cognom %>
          <div class="ui left icon input">
          <%= f.text_field :cognom1, autofocus: true, placeholder:"Primer cognom"%>
          <i class="user icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :Segon_cognom %>
          <div class="ui left icon input">
          <%= f.text_field :cognom2, autofocus: true, placeholder:"Segon cognom"%>
          <i class="user icon"></i>
          </div>
        </div>
        <BR/><BR/>
         <div class="field">
          <%= f.label :avatar %>
          <div class="ui left icon input">
          <%= f.file_field :avatar, autofocus: true, placeholder:"El teu Avatar"%>
          <i class="user circle icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :moto %>
          <div class="ui left icon input">
          <%= f.text_field :moto, autofocus: true, required: true, placeholder:"La teva moto, com GSR600, MT01, 390, Z1000,..."%>
          <i class="motorcycle icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :foto_de_la_teva_moto %>
          <div class="ui left icon input">
          <%= f.file_field :foto_moto, autofocus: true, placeholder:"La foto de la teva moto"%>
          <i class="motorcycle icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :localitat %>
          <div class="ui left icon input">
          <%= f.text_field :localitat, autofocus: true, required: true, placeholder:"A on resideixes, com BCN, BDN, Gavà, Terrassa,..."%>
          <i class="map marker alternate icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :data_de_naixement %>
          <div class="ui left icon input">
          <%= f.date_select :data_naixement, autofocus: true, required: true, placeholder:"Any del teu naixement", start_year: DateTime.now.year - 18, end_year: DateTime.now.year - 75 %>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :curta_presentació_com_motorista %>
          <div class="ui left icon input">
          <%= f.text_area :presentacio, autofocus: true, placeholder:"La teva curta presenatció com motorista" %>
          </div>
        </div>
        <BR/><BR/>
         <div class='ui divider teal'></div>
         <div style='margin-top:20px;'><BR/><BR/></div>
        <div class="field" style="margin-top:20px;">
          <%= f.label :mòbil, style: "margin-top:20px;" %>
          <div class="ui left icon input">
          <%= f.text_field :mobil, autofocus: true, placeholder:"El número del teu mòbil per unir-te al grup de WhatsApp" %>
           <i class="phone square icon"></i>
          </div>
        </div>
        <BR/>
        <BR/>
        <div class="field">
          <%= f.label :email %>
          <div class="ui left icon input">
          <%= f.email_field :email, autofocus: true, placeholder:"El teu correu electrònic, com nom.cognom@email.com"%>
          <i class="at icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
          <%= f.password_field :password, autocomplete: "off" ,placeholder:"Password"%>
          <i class="lock icon"></i>
          </div>
        </div>
        <BR/>
        <div class="field">
          <%= f.label :password_confirmation %>
          <div class="ui left icon input">
          <%= f.password_field :password_confirmation, autofocus: true,autocomplete: "off", placeholder:"Password confirmation"%>
          <i class="lock icon"></i>
          </div>
        </div>
        <BR/>
        <% if params[:plan] >= '2' %>
        <h4 class="ui left aligned dividing header teal">
        <div class="field">
         <%= f.label :card_number, 'Número de la tarjeta de crèdit' %>
          <div class="credit card outline icon teal">
          <%#= f.text_field :card_number, placeholder:"4585458263007755"%>
          </div>
        </div>
        <div class="field">
         <%= f.label :card_holder, 'Titular de la trajeta' %>
          <div class="credit card outline icon teal">
          <%#= f.text_field :card_number, placeholder:"4585458263007755"%>
          </div>
        </div>
        <div class="field">
         <%= f.label :data_caducitat, 'Data de caducitat AA/mm' %>
          <div class="credit card outline icon teal">
          <%#= f.text_field :card_number, placeholder:"4585458263007755"%>
          </div>
        </div>
        <div class="field">
         <%= f.label :card_codi, 'Code de seguretat' %>
          <div class="credit card outline icon teal">
          <%#= f.text_field :card_number, placeholder:"4585458263007755"%>
          </div>
        </div>  
        <% end %>
      </h4>

<div><BR/><BR/><BR/></div>

    <div class="ui row" style='margin-bottom:15px; margin-top:60px;'>
        <h4 class='ui center aligned header red'><i>Perdoneu, és encara en desenvolupament.</i></h4>
    </div>  

        <div class="ui basic segment center aligned">
          <%= f.submit "ENVIA" ,class: "ui submit button teal", id: 'submit_associat_form', style: "margin-top:20px;" %>
        </div>

<% end %>
</div>