
<div class="ui hidden divider"></div>

<div class="ui container">
<div class="ui centered stackable doubling grid">
<div class="ui row" style='margin-bottom:25px;'>
    <h1 class='ui header teal'>Les nostres rutes</h1>
            <!-- Slider Container -->
                    <div class="fourteen wide column" style='margin-top:25px;'>
                        <div class="owl-carousel owl-theme" id="multiple-slider">
                            <div class="item"><%= image_tag("rutes/20180919_Castelltallat_400x400.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
                            <div class="item"><%= image_tag("rutes/Sud 1-2_400x400.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
                            <div class="item"><%= image_tag("rutes/01082018 Sortida al Pedraforca_400x400.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
                            <div class="item"><%= image_tag("rutes/Prepirineu_400x400.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
                            <div class="item"><%= image_tag("rutes/dimecres 4Jl Puigsacalm Montseny_400x400.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
                            <div class="item"><%= image_tag("20180530_Montseny-Guilleries_400x400.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- ./container -->