<section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-92" style="background-image: url(<%= asset_path 'bg0001.jpg' %>) ;">
    <div class="mbr-overlay" style="opacity:0.75; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="caption">
                      <h3 style='font-size: 26pt; font-weight: 700;color:white;'>Grup motorista</h3>                    
                      <h1 style='font-size: 52pt; font-weight: 900;color:var(--teal03);'><i>Mil Revolts</i></h1>
                      <br/>
                      <h3 style='font-size: 20pt; font-weight: 700;color:white;'>Sortides en moto per Catalunya! <br></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div><BR/><BR/><BR/></div>

  <div class="ui container">
    <div class="ui four column stackable doubling grid">
        <div class="ui center aligned column">
                <div class="ui center aligned">
                    <div class="image header center aligned">
                      <a href="blog"><%= image_tag("home1_250.jpeg", :alt => "Mil Revolts", :class => "undefined") %></a>
                    </div>
                    <div class="header center aligned" style='margin-top:20px;'>
                        <div class='sub header'>
                            <h2 class='ui header teal'>Amants dels revolts</h2>                      
                        </div>
                        <p class="ui center aligned" style='margin-top:20px;'>
                          <a href="blog" class="ui rounded basic tiny button teal small">Preferències</a></p>
                    </div>
                </div>
          </div>
          <div class="ui center aligned column">
                <div class="ui center aligned">
                  <div class="image header center aligned">
                    <a href="blog"><%= image_tag("home2_250.jpeg", :alt => "Mil Revolts", :class => "undefined") %></a>
                  </div>
                  <div class="header center aligned" style='margin-top:20px;'>
                    <div class='sub header'>
                      <h2 class='ui header teal'>Sortides</h2>                      
                    </div>
                    <p class="ui center aligned" style='margin-top:20px;'>
                      <a href="sortides" class="ui rounded basic tiny button teal small">Veure+</a></p>
                  </div>
                </div>
          </div>
          <div class="ui center aligned column">
                <div class="ui center aligned">
                    <div class="image header center aligned">
                      <a href="blog"><%= image_tag("home3_250.jpeg", :alt => "Mil Revolts", :class => "undefined") %></a>
                    </div>
                    <div class="header center aligned" style='margin-top:20px;'>
                        <div class='sub header'>
                            <h2 class='ui header teal'>Media galeria</h2>                      
                        </div>
                        <p class="ui center aligned" style='margin-top:20px;'>
                          <a href="media" class="ui rounded basic tiny button teal small">Veure+</a></p>
                    </div>
                </div>
          </div>        
          <div class="ui center aligned column">
                <div class="ui center aligned">
                  <div class="image header">
                    <a href="blog"><%= image_tag("home4_250.jpeg", :alt => "Mil volts", :class => "undefined") %></a>
                  </div>
                  <div class="header center aligned" style='margin-top:20px;'>
                      <div class="sub header">
                          <h2 class='ui header teal'>EL BLOG</h2>
                      </div>
                      <p class="ui center aligned" style='margin-top:20px;'>
                        <a href="blog" class="ui basic tiny button teal">Anar-hi</a></p>
                  </div>
            </div>
          </div>    
        </div><!-- ./ui grid -->    
      </div><!-- ./ui container -->

  <div class="ui hidden divider"><BR/></div>

  <div class="ui container">
    <div class="ui centered stackable doubling grid">
        <div class="ten wide column"> 
                <BR/>  
                <h1 class="ui header teal" style='font-weight:800;text-shadow:1px 1px 1px 1px var(--teal09);'>
                Grup motorista <i>'Mil Revolts'</i></h1>
                <h3 class="ui header teal"><i>Surt en moto en grup per Catalunya!</i></h3>
                <BR/>
         <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
        
         <p style='text-align:justify'>&nbsp; &nbsp; El Grup motorista <b><i>'Mil Revolts'</i></b> és un grup de motoristes aficionats que s'han ajuntat per a sortir en moto per Catalunya des de l'àrea de Barcelona.<BR/></p>
         <p style='text-align:justify'>&nbsp; &nbsp; Creat a la primavera d'aquest any 2018, ja ha organitzat una dotzena de sortides gratuites en moto. Generalment, aquestes sortides són de mig dia o tot un dia, entre setmana i els caps de setmana, cada dimecres i alguns dissabtes, recorrent uns 200-500 kms per carreteres amb molts revolts. Busquem el plaer de la conducció en carreteres de poc trànsit, lentes i revirades, entre bonics paisatges i una bona companyia. Alguns cops fem alguns trams de camins asfaltats, o curtes 'bones' pistes de terra, i si no hi ha mès remei, toquem algun 'eix', autovia o autopista. El ritme és entre 'Touring' i esportiu, marcat per cadascú. Desprès de cada tram d'uns 10-30kms, ens agrupem de nou en curtes parades. Al final al llarg del dia normalment fem unes mitjanes d'uns 30-40km/h al llarg del dia i 50-60km/h als trams. Les parades - per esmorzar, per dinar, fer benzina, o simplement per prendre alguna cosa i xerrar - s'adapten al nostre ritme segons el tipus de sortida, la ruta, el cansament i la gent, sempre cercant el consens entre tots. Sempre intentem complir amb les normes de circulació, sobretot  les velocitats al creuar els pobles i també fer el mínim soroll. Els punts de trobada per agrupar-nos abans de sortir, solen ser 2 o 3 - són uns llocs més pròxims/cèntrics per a juntar-nos primerament els que som 'veïns' i anar així ja junts fins al punt final de trobada, ja a les afores de Barcelona. En aquest ens agrupem tots per a sortir plegats cap a les 8 o 9 del matí. </p><BR/>
         <blockquote><h3 class='ui header teal'><em><b>CARACTERÍSTIQUES DE LES SORTIDES I PREFERÈNCIES GENERALS DEL GRUP:</b></em></h3>
                <ul>
                <li><em>&nbsp; &nbsp; Sortides gratuites des de l'àrea de Barcelona per a tot Catalunya.</em></li>
                <li><em>&nbsp; &nbsp; Carreteres 'revirades' amb molts revolts.</em></li>
                <li><em>&nbsp; &nbsp; Ritme de 'Touring' a Esportiu. </em></li>
                <li><em>&nbsp; &nbsp; Els dimecres i/o dissabtes, de mig o tot un dia i de dos dies algun cap de setmana.</em></li>
                <li><em>&nbsp; &nbsp; De tres a deu motos</em></li>
                <li><em>&nbsp; &nbsp; Parades per fer benzina, esmorzar/dinar o prendre alguna cosa.</em></li>
                <li><em>&nbsp; &nbsp; Reagrupaments sovint a les cruïlles i desprès de cada tram.</em></li>
                <li><em>&nbsp; &nbsp; Màxim respecte al codi de circulació, sobretot amb el soroll i velocitats als pobles.</em></li>
                <li><em>&nbsp; &nbsp; Retroalimentació permanent mitjançant enquestes de les sortides.</em></li>
                </ul><p><em><br></em></p>
        </blockquote>
        <BR/><BR/>
        </div>
    </div>
  </div>  
</div><!-- ./container -->

<!--
<div><BR/><BR/><BR/></div>

<div class="ui hidden divider"></div>

<%#= render 'layouts/partials/rutes' %>


<div><BR/><BR/><BR/></div>


<div class="ui hidden divider"></div>

<%#= render 'layouts/partials/motoristes' %>

-->

<div><BR/><BR/><BR/></div>

<div class="ui hidden divider"></div>

<%= render 'layouts/partials/plans' %>


<div><BR/><BR/><BR/><BR/><BR/></div>

