<div class='ui container'>
	<div class="ui three column centered grid">

	<div class="two wide column"></div>

	<div class="ten wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal" style='font-size:25pt; text-shadow: 1px 1px 1px #b2b2b2, 3px 3px 3px #c0c0c0;'>Motorista:&nbsp;</h1>

<div class="ui raised very padded text container segment">
<%#= link_to image_tag(@user.avatar.variant(resize: "100x100")), @user.avatar %>
<%#= image_tag @user.avatar.variant(resize: '100x100').processed.service_url %>
<% if user_signed_in? %>

<div class="ui very relaxed items">
<div class='item' style='margin:0 10px 10px 0;'>
<% if @user.avatar.attached? %>
<%#= image_tag(url_for(@user.avatar)) %>
<p><%= image_tag @user.avatar, style:'width:200px;float:left;margin:0 30px 10px 0;' %></p>
<% end %>
<h2 class='ui header teal'>
	<%= @user.nom %><BR/>
	<%= @user.moto.upcase %><BR/>
	<%= @user.localitat %><BR/>
	<%= ((Time.zone.now - @user.data_naixement.to_time) / 1.year.seconds).floor %>
<BR/><BR/>
<small>	Número de sortides: <%= @user.sortides %><BR/>
	Pla: <%= @user.plan_id %><BR/>
</small>
</h2>
</div>

<div class='item'>
<% if @user.foto_moto.attached? %>
<p><%= image_tag @user.foto_moto, style:'width:100%;float:bottom;' %></p>
<% end %>
</div>
</div>

<h4 class='ui header teal'><i><%= @user.presentacio %></i></h4>
<% else %>
<BR/>
<div class='item' style='color:red;'><b><u>CONVIDAT</u></b><i> per a veure els perfils dels motoristes has de registrar-te o identificar-te!</i></div>
<BR/>
<div class='ui container center aligned' style='margin-top: 20px;'>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui center aligned button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui center aligned button teal' %></div>

<% end %>

<div></div>
<!--<h4 class="ui header red" style='font-size:10pt;'><i>Perdoneu, està encara en  desenvolupament...</i></h4>-->
</div>
<div><BR/><BR/></div>
<div class='ui container center aligned' style='margin-top: 20px;'>
<%= link_to 'Llista de motoristes', users_path, :class=>'ui button teal' %>

<div><BR/><BR/><BR/><BR/></div>
</div><!-- if -->
</div><!-- ten wide column -->

<div class="two wide column"></div>

</div><!-- grid -->
</div><!-- container -->




