<div class="ui hidden divider"></div>  
<!-- Content area -->
	<div class="ui container content">
		<div class="ui stackable doubling grid">
			<!-- Middle Content -->
			<div class="sixteen wide column" align="center">
				<div class="ui horizontal divider">
					<h2 class='ui larger teal header'>Galeria de motos</h2></div>
				<br>
				<div class="ui four column stackable doubling grid" id="sortable-list">
					<div class="column">
            <div class="image"><%= image_tag("media/milrevolts.life-v3_400x400.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "ui rounded image") %></div>
						<div class="ui header">Sortida #1</div>
					</div>
					<div class="column">
            <div class="image"><%= image_tag("media/milrevolts.life-v3_400x400.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "ui rounded image") %></div>
						<div class="ui header">Sortida #2</div>
					</div>
					<div class="column">
            <div class="image"><%= image_tag("media/milrevolts.life-v3_400x400.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "ui rounded image") %></div>
						<div class="ui header">Portofolio #3</div>
					</div>
					<div class="column">
            <div class="image"><%= image_tag("media/milrevolts.life-v3_400x400.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "ui rounded image") %></div>
						<div class="ui header">Portofolio #4</div>
					</div>
					<div class="column">
            <div class="image"><%= image_tag("media/milrevolts.life-v3_400x400.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "ui rounded image") %></div>
						<div class="ui header">Portofolio #5</div>
					</div>
					<div class="column">
            <div class="image"><%= image_tag("media/milrevolts.life-v3_400x400.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "ui rounded image") %></div>
            <div class="ui header">Portofolio #6</div>
					</div>
					<div class="column">
            <div class="image"><%= image_tag("media/milrevolts.life-v3_400x400.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "ui rounded image") %></div>
						<div class="ui header">Portofolio #7</div>
					</div>
					<div class="column">
						<img class="ui rounded image" src="assets/img/400x400.png" alt="">
						<div class="ui header">Portofolio #8</div>
					</div>
					<div class="column">
						<img class="ui rounded image" src="assets/img/400x400.png" alt="">
						<div class="ui header">Portofolio #9</div>
					</div>
					<div class="column">
						<img class="ui rounded image" src="assets/img/400x400.png" alt="">
						<div class="ui header">Portofolio #10</div>
					</div>
					<div class="column">
						<img class="ui rounded image" src="assets/img/400x400.png" alt="">
						<div class="ui header">Portofolio #11</div>
					</div>
					<div class="column">
						<img class="ui rounded image" src="assets/img/400x400.png" alt="">
						<div class="ui header">Portofolio #12</div>
					</div>
					<div class="column">
						<img class="ui rounded image" src="assets/img/400x400.png" alt="">
						<div class="ui header">Portofolio #13</div>
					</div>
				</div>
			</div>
		</div>
	</div>





