<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foto %>
    <%= form.file_field :foto %>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.trix_editor :content %>
  </div>

  <div class="field">
  <%= form.label :category %>
  <%#= select_tag('categoria', options_from_collection_for_select(@categories, 'id','name'), include_blank: 'Selecciona una categoria' )%>
  <%#= select_tag('categoria', options_for_select(categories), include_blank: 'Selecciona una categoria') %>
  <%#= select_tag(:category_id, options_for_select(@categories, 'id','name'), :prompt => ‘Select a category’) %>
 <%#= select_tag("category", options_from_collection_for_select(@categories, "id", "name"), include_blank: 'Selecciona una categoria') %>
 <%#= f.hidden_field :category_id %>
<%= form.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div class="field">
    <%= form.label :page_url %>
    <%= form.text_field :page %>
  </div>

<div>
<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
