<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida al Prepirineu.&nbsp;</h1>
<h2 class="ui header teal">Dissabte 22 de Setembre de 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta (538kms):</h3> 
<p>BCN – Cerdanyola - Calders - Moià - Borredà - Poble de Lillet - ‘Pedraforca’ - Gósol – Tuixent - La Seu d’Urgell – Adrall - Coll del Cantó – Sort  - Tremp – Isona – Coll de Nargó - Solsona - Cardona – Manresa - BCN
</p>

<h3 class="ui header teal">Punts de trobada:</h3> 
<p>07:00 BCN Entença-Av.Roma/Mallorca
<BR/>07:30 BCN Carretera Horta a Cerdanyola n.50
<BR/>08:00 UAB Bellaterra Av Serragalliners (segona rotonda passat els Bombers)
<BR/>08:30 Castellar del Vallès (Benzinera BP - Estació Servei Truyols) Tots amb el dipòsit ple.
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>09:00 Sta.Eulàlia Puig-Oriol (esmorzar a Cal Penyora ens esperen)
<BR/>11:30 Gósol
<BR/>13:00 Coll del Cantó
<BR/>14:30 Tremp (Dinar)
<BR/>17:00 Cambrils
<BR/>19:00 Solsona
<BR/>20:30 BCN 
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring' tot un dia.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar abans de dimarts 18 Setembre.
</p> 

<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>

<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("Prepirineu.jpg", :alt => "Sortida al Prepirineu 22/09/2018", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<% if user_signed_in? %>
<BR/>
<h2 class="ui header teal">Crònica:</h2>
<p class='pagraf' style='text-align: justify;'>
Ahir 13 motoristes: @Carles TRACER900 Premia, @Dani R1 Granollers, @Dani TRANSALP Castellar V., @Eduard de Vidal Royal Enfield BCN, @Enrique F650 Sabadell, @Fran 1190 Esplugues, @Joan GRS1200 Rubí, @Josep Honda XADV, @Josep Maria MT09 TRACER, @Marc ER6N Molins, @Miquel SUPERDUKE, @Ramon BANDIT i @Ferran GSR vàrem sortir amb el repte de fer quatre mítics ports dels Prepirineus, més de 500 kms i 16 hores de moto.</p>  
<p class='pagraf' style='text-align: justify;'> 
Gràcies a la puntualitat de tots. vàrem sortir a l'hora a les vuit del matí de Castellar del V. cap a Calders. Oh la benzinera és plena d’Enduristes una vintena com a mínim, encara més difícil de comptar-nos! Amb 3-4 parades a les cruïlles per reagrupar-nos vàrem arribar a 'Cal Penyora' (*****) a on ens esperàvem ja amb la taula ben parada. Es veu que avui si que anem per feina!</p>
<p class='pagraf' style='text-align: justify;'>  
Ben esmorzat, vàrem tirar cap amunt gaudint de les carreteres del Lluçanès, amb els cavalls salvatges  i les del Berguedà, aquest cop plenes de ciclistes i boletaires, fins a la Poble de Lillet, D’aquí, enllaçant per rectes fins a Guardiola, a on comença un tram de bona i divertida carretera, però avui amb molt de trànsit de boletaires, fins al Pedraforca, a on vàrem immortalitzar la sortida amb la foto del grup (13 motoristes un nou record pel grup). Quin dia més maco que fa!</p>
<p class='pagraf' style='text-align: justify;'> 
Ui sorpresa! Ja aquí ens deixen:  @Dani TRANSALP Castellar V., @Enrique F650 Sabadell i @Fran 1190 Esplugues però s’ens uneixen una parella en trànsit cap a Andorra. De Gósol fins al Coll de Jou i Tuixent perfecte, quin paisatge, però desprès del Coll de Trava, baixant ja cap a la Seu, la carretera és dolenta, amb sots i perillosa taques de graveta. La noia és tan ràpida motera com la nostra Meravellosa Dolors!</p>
<p class='pagraf' style='text-align: justify;'>  
Desprès de acomiadar-nos de la parella, tots ben agrupats arribem al Port del Cantó. A la pujada les motos de gran cilindrada s’imposen en aquest tram ràpid i arriben avanç al ‘Rubió del Cantó’ (*****) a on ens reserven taula afora i ens preparen un bon sortit d’entrepans que és la seva especialitat. Una vegada a Sort, i fer l’enllaç La Poble Segur-Tremp-Isona fem el també mític i deliciós tram fins a Coll de Nargó. Desprès de fer-lo alguns de nosaltres donem les gràcies als enginyers d’haver-lo fet. Que llarg, sense revolts enganyossoa i que ben asfaltat! Aquí donen el premi de la Samarreta ‘MilRevolts.life’ de l’Heroi del dia a l’Eduard que amb la seva ‘Enfield’ ens ha seguit fins aquí.</p>
<p class='pagraf' style='text-align: justify;'>
Desprès de fer benzina, donada la hora i el cansament acumulat, decidim per consens, fer via ràpida i tornar directament. El tram de Cambrils-Llosa dels Cavalls queda reservat per una altre sortida. Alguns encara gaudim del tram ràpid i ben asfaltat fins a Solsona. A on vàrem fer l’última parada, per prendre alguna cosa al Portalet (****) quin ambient hi ha al portal d'entrada i quina simpatia té aquesta noia. Ja quasi fosc sortim cap a Cardona i Manresa per arribar a Barcelona cap a quarts de 10 dins les files de cotxes.</p>
<p class='pagraf' style='text-align: justify;'><i>
Queda clar i palès que: per fer les carreteres del nord-oest i sud-oest del país hem d’anar i tornar més directament o bé fer-les en dos dies; en grups nombrosos s’ha de reduir el quilometratge i augmentar l’organització; a més de gaudir de les carreteres revirades, de la motocicleta i del paisatge, ens agrada molt xerrar amb els companys i amics allargant-se les parades i les sobretaules; hem de diversificar i classificar les sortides en esportives i turístiques i llarg i curt quilometratge per tal d’organitzar-les convenientment.</i></p> 
<div><BR/><BR/></div>

<h2 class="ui header teal">Reportatge:</h2>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 at 07.26.jpeg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>A on aneu si encara és negre nit! Miquel, Eduard, Joan, Fran, Ramon i Josep Maria.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 08.35.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep arribant a Sant Llorenç de Savall, primer punt de reagrupament.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 08.36.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Fran, Carles i Ramon, esperant l'arribada de la resta.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 08.37.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Joan, Eduard, Dani, Enrique, ....</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 09.05.53.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Segona parada de reagrupament. Anem cap a Oristà.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/20180922_1036.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Ferran, Dani, Enrique, Eduard, Fran, Miquel, Ramon, Dani, Joan, Marc, Josep i Carles a Cal Penyora.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018092211.06.jpeg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Dani, Miquel, Fran, Eduard i Enrique.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-2211.06.jpeg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Ferran i Josep Maria.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 at 11.06.jpeg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep, Dani, Carles, Ramon i Fran. De moment, anem dins del temps previst. Vinga cap al Berguedà!</p>
<p></p>
<h4 class='ui header teal'>Arribant a la riera de Merlès.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.21.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Dani.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.24.05.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Joan.</p>
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.24.07.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Fran.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.24.27.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Enrique i en Miquel.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 1124.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Miquel.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.24.32.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.24.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep Maria. Que això és 'La Volta'?</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.55.47.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<h4 class='ui header teal'>De Sant Jaume de Frontayà girem cap a la Poble de Lillet.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.55.55.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Miquel.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.56.00.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Ramon i en Eduard.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.56.03.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Eduard i en Dani.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.56.05.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Dani, en Fran i en Enrique.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.56.09.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Marc.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 11.56.15.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Carles.</p>
<p></p>
<h4 class='ui header teal'>El Pedraforca.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 12.22.26.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep Maria arribant al mirador.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 12.22.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep, en Carles, en Miquel i en Dani.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 12.25.02.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Joan.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 12.25.21.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Enrique.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 12.24.46.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Dani.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 12.30.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>La foto del grup i de la Sortida: Dani, Carles, Joan, Josep Maria, Fran, Miquel, Eduard i Marc. Acotats: Ramon, Josep, Dani i Enrique.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 at 12.40.13.jpeg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Dani, Enrique (a la foto) i en Fran ens deixen aquí.</p>
<h4 class='ui header teal'>Tuixent, aquest cop no escurcem, anem cap a La Seu.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 13.16.18.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 13.16.36.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Joan.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 13.17.23.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 13.17.26.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Una parella en trànsit cap a Andorra s'uneixen al grup.</p>
<h4 class='ui header teal'>Parada al Coll de Trava, un dels quatre ports que farem avui.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 13.35.43.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22_13.35.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>L'Enfield de l'Eduard.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 13.36.32.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Una altre clàssica: Una TRIUMPH de fa vint anys, molt ben conservada. La DUCATI és de lloguer, qui no vol gaudir un dia així!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 13.36.45.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-24 at 09.03.19.jpeg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Eduard, Josep, Miquel, Joan i Dani. Que ha passat a la R1?</p>
<h4 class='ui header teal'>Finalment arribem a La Seu, vaja quina carretera més dolenta!</h4>	
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 14.17.30.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>En Miquel.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 14.24.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep Maria, Carles d'esquena, Dani, Josep, Marc i Eduard al fons.</p>
<h4 class='ui header teal'>Dinant a Rubió del Cantó.</h4>	
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 15.58.53.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Joan, Josep Maria, Ramon, Carles, Dani, Miquel, Josep i Marc.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 15.58.32.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Josep, Marc, Jordi, Josep Maria, Ramon, Carles i Dani.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 16.00.05.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Vaja quins entrepans més bons!</p>
<h4 class='ui header teal'>A Coll de Nargó, vaja quina carretera, tota una delícia pels motoristes!</h4>	
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 18.16.02.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 at 21.53.46.jpeg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Eduard, Dani, Ferran. Miquel, Joan i Josep Maria.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-22 18.49.34.jpg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>Moltes benzineres només amb un sortidor. Això ens retrasa! Ja s'han fet 3/4 7, decidim plegats fer via directa cap a Solsona. Com gaudirant fins les motos grans a Solsona per aquesta carrtera tan àmplia i ben asfaltada!</p>
<h4 class='ui header teal'>Solsona, última parada!</h4>	
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180922_Prepirineu/2018-09-23 at 10.18.52.jpeg", :alt => "Sortida al Prepirineu, dissabte 22/09/2018 ", :class => "mbr-figure__img") %></div>
</figure>
<p>D'aquí directes cap a Barcelona, que ja és quasi fosc!</p>
<p></p>
<h4><%= link_to 'Vídeo de la sortida produït per Eduard. Moltes gràcies!', 'https://www.youtube.com/watch?v=pW2uz8s6wfA' %></h4>

<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>

<div><BR/><BR/></div>

</div>
<div class="four wide column"></div>
</div>
</div>
