<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="two wide column"></div>
	<div class="ten wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida a Castellar de N'Hug.&nbsp;</h1>
<h2 class="ui header teal">Dissabte 20 d'Octubre del 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > Horta > Cerdanyola > UAB > Sabadell > Sant Llorenç de Savall > Calders > Moià > Prats Lluçanès > Llaés > Ripoll > Ribes de Freser > Collada de Toses > La Molina > Castellar de N'Hug > Poble de Lillet > Borreda > Ripoll > BCN
</p>

<h3 class="ui header teal">Punt de trobada:</h3> 
<p>07:00 BCN Entença-Av.Roma/Mallorca
<BR/>07:30 BCN Carretera Horta a Cerdanyola n.50
<BR/>08:00 UAB Bellaterra Av Serragalliners (primera rotonda, només passar els Bombers)
<BR/>08:30 Castellar del Vallès (Benzinera BP - Estació Servei Truyols) Tots amb el dipòsit ple.
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>11:00 Lluçà (esmorzar)
<BR/>15:00 Riera de Merlès (dinar)
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar aviat per 'guasap/whatapp' o correu al contacte.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 14.56.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>La foto oficial del grup al Coll de la Creueta (1.888m): Carles, Alex, Josep, Xavi, Carlo, Josep Maria, Ricart, Ramon i Marc.<BR/></p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/20181020_NHug.jpg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>


<BR/>
<% if user_signed_in? %>
<BR/>

<h3 class="ui header teal">Crònica:</h3>
<br/>Aquest dissabte 10 motoristes: Ramon BANDIT. Ferran GSR600. Ricart TRACER. Carlos FORZA300, JM TRACER, Josep 800GT, Marc ER6N, Xavi GS, Carles TRACER i Alex GS hem fet 388Kms per anar i tornar del Coll de la Creueta 1.888mts entre La Molina i Castellar de N'Hug. La ruta de pujada ha sigut pujant pel Parc Natural de Sant Llorenç del Munt, passant al Moianès, creuant el Lluçanès  a on esmorzem a Cal La Penyora (*** ens ho tenien tot preparat a 2/4 11 però cada dia més car, ara ja 10€ per una taula d’embotits i encara ens diuen que ja no podrem aparcar a davant a la plaça, Això serà un morir-se d’èxit?).<BR/>
Fins aquí, arribem puntualíssims, encara que amb les carreteres encara humides i la pèrdua momentània de dos motoristes, culpa del xerpa que hauria hagut de preveure i aturar-se a Sant Llorenç de Savall per evitar qualsevol confusió i distracció, Sort d’en Ramon ‘Cap de Comunicacions’ el nostre 112 que els situa i ens reagrupament al semàfor de Gallifa. Dos motos ràpides sense parar, van arribar abans per Gallifa que tot el grup per Calders.<BR/> 
Ja esmorzats (una hora de rellotge entre arribar i sortir) i una vegada al Berguedà a Santa Maria de Besora girem per agafar el camí forestal asfaltat de Llaés que entre vells i majestuosos roures ens endinsa dins les Serres de Bufadors i Milany (1.526m) per a  sortir sobre Ripoll, a on agafem la N-260 de Ribes de Freser. Uf! varies incidències i una altre pèrdua, gràcies en Josep F800GTper solucionar-ho, tot plegat ens han retardat quasi una hora l’horari previst.<BR/> 
Parem a fer benzina abans de pujar a la Collada de Tosses (1.872m) a on arribem en un moment malgrat els dos semàfors alternatius per obres en la carretera per arreglar les esllavissades causades per les tempestes dels darrers dies.<BR/>
Bé, molt bé, ja hi som i estem preparats per fer el Coll de la Creueta (1.888m) a veure si venim sort i veiem marmotes en aquest paisatge alpí, tot verd i sense arbres ni matolls, com si estiguéssim a Escòcia. Marmotes no, per un núvol de aguilots ens vigilen des de dalt. Ens fem la foto oficial del grup de la sortida quasi a les tres. Baixant  cap a Castellar de N’Hug, pel camí ens creuem amb el Club del RENAULT CLIO, que sense fer bestieses també gaudeixen d’aquesta bona, divertida i preciosa carretera. El Dilema és: mirem el paisatge o gaudim de la carretera, aquí podem fer ambdós.<BR/>
A Castellar de N’Hug ja s’han fet quasi 2/4 de 4, parem i ens dividim en dos grups, uns que volen quedar-se i entaular-se i desprès tornar directament, i d’altres que encara plens de l’esmorzar decideixen aprofitar aquesta solejada i preciosa tarda de tardor i continuar per a parar més endavant al càmping de la riera de Merlès. Llàstima que desprès de fer els ‘magnífics’ revolts de La Poble de Lillet i fins a Borredà, ens quedem a un revolt del càmping, ja que el pont de la riera és tallat per seguretat i obres, i encara que el veiem  no podem arribar per prendre alguna cosa i baixar desprès al Lluçanès tal com havíem planejat. Oh, que hem de fer ara? Són 2/4 de 5! Res tornem a fer aquestes magnífics revolts i cap a Ripoll. Arribem cap a les cinc i com s’ha fet una mica tard decidim continuar i parar a l’alçada del Congost per prendre alguna cosa, descansar per que ens sentim cansats, xerrar una estona i desprès ja acomiadar-.nos i tornar directament. Arribem aviat a casa, molt ben conduits per en Xavi, que ens va reagrupant constantment per mantenir el grup unit. Ja dutxat podem preparar el sopar i veure aquest Barça que promet moltes alegries aquesta temporada.<BR/>
I ja ens preguntem... quan serà la propera? http://milrevolts.life/20181117_Garrotxa el proper 17 de Novembre per a voltar el Montseny, anar a Banyoles per lloar, creuer la Garrotxa i el Puigsacalm (camins asfaltats) i tornar pel Lluçanès i el Moianès.
<div><BR/><BR/></div>

<BR/>
<h3 class="ui header teal">Reportatge gràfic:</h3>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-21 at 11.33.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Josep Maria ens saluda pujant ràpid a Monistrol.<BR/></p> 
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 11.41.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>Primera parada de reagrupament a Monistrol de Calders. Que dieu? que en Marc i en Xavi no venen? Hauran d'haver tirat per Gallifa! Moltes gràcies Ramon, ets el nostre 112, per localitzar-los i reagrupa-nos al semàfor de Moià.<BR/></p>
<p><br/><p>
<h4 class="ui header teal">Sortim de Santa Eulàlia de Puig-Oriol cap al Berguedà cinc minuts abans de l'hora prevista.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 11.25.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Xavi, Alex, Josep, Carles, Ricart i Ramon.<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 11.28.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>Diga'ns Josep, que li expliques al Xavi tant divertit?<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 11.32.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Ramon, el grup BMWista 'Alex, Josep i Xavi', i ens saluden Carlo, Ricart i Marc.<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 11.27.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Xavi, Alex, Josep. Ramon d'esquenes, en Carles i en Ricart.<BR/></p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 13.21.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Ricart i en Ramon, desprès de fer els 17 kms del selvàtic camí dels Ferrers de Llaés.<BR/></p>
<h4 class="ui header teal">Arribem a la collada de Toses amb una hora de retard.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 15.29.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Xavi posant i conten que ara ens toquen 18 preciosos quilòmetres fins Castellar de N'Hug.<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 19.56.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Carlo també content d'haver arribat amb la seva FORZA300.<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 14.30.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Xavi, Alex, Ferran acotat, en Marc i en Josep Maria.<BR/></p>

<h4 class="ui header teal">Arribem al Coll de la Creueta (1.888m).</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 14.55.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>Carles, Alex, Josep, Xavi, Carlo, Josep Maria, Ricart, Ferran i Marc, i en Ramon de fotògraf.<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 19.56_.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Carlo molt content d'haver arribat amb la seva FORZA300. Vaja quin paisatge alpí!<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 14.52.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Xavi senyalant de a on veníem, en Carles i en Alex, i en Carlo fotografiant el paisatge.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 15.27.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>Arribem a Castellar de N'Hug a 2/4 4, i fem cercle per veure, que fem ara? El dilema és: ens entaulem o no?<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 15.28.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>En Ramon i en Xavi tenen amistats comunes. El mon és un mocador! En Ferran d'esquena. En Marc, en Carles, en Josep Maria, i en Carlo victoriós.<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 15.30.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>Bé decidit, uns s'entaularan aquí i altres continuarem la ruta prevista per a parar a la riera de Merlés. Alex, Josep Maria, Carles, Carlo, Ferran, Marc i Ricart.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 16.31.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>A 2/4 de 5 arribem a la riera de Merlès, però oh! encara que veiem el càmping no podem passar perquè han tallat el pont de la riera! Quina llàstima! Hi ara que? Doncs res, continuarem fem revolts fins a Olot!<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20 at 17.05.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>A les cinc som a Ripoll, vinga Xavi porta'ns a casa!	Marc, Ferran, Ricart, Ramon, Josep Maria, i en Xavi de fotogràf.<BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/WhatsApp Image 2018-10-20 at 18.00.07.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>Temps de bolets! Hi han que aprofiten i compren uns rovellons boníssims!<BR/></p>
<BR/>
<h4 class="ui header teal">Última parada al Congost per prendre alguna cosa, xerrar i acomiadar-nos.</h4>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-21 at 11.33_.jpeg", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>Ramon, Marc, Ricart, Josep Maria i Xavi.<BR/></p>
<BR/>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20181020_NHug/2018-10-20.png", :alt => "Sortida a Castellar de N'Hug 2018/10/20", :class => "mbr-figure__img") %></div>
</figure>
<p>Fotomuntatge: Ramon, Marc, Ricart, Josep Maria i Ferran.<BR/>
Són 2/4 de 7, vinga que ens anirem cap a casa a preparar el sopar i veure el Barça! 
</p>


<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>






<div><BR/><BR/></div>

</div>
<div class="two wide column"></div>
</div>
</div>
