<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Sortida a la Serra de Castelltallat.&nbsp;</h1>
<h2 class="ui header teal">Dimecres 18 de Setembre de 2018</h2>
<BR/>


<h3 class="ui header teal">Ruta:</h3> 
<p>BCN – Cerdanyola - UAB - Castellar del Vallès - St.Llorenç Savall - Talamanca - Navarcles - Santpedor -St.Mateu Bages - Salo - Matamargó - Ardèvol - Pinós - Calaf - St. Coloma Queralt - La Llacuna - Sant Sadurní - Gelida - Corbera - Molins - BCN
</p>

<h3 class="ui header teal">Punts de trobada:</h3> 
<p>07:30 BCN Entença-Av.Roma/Mallorca
<BR/>08:00 BCN Carretera Horta a Cerdanyola n.50
<BR/>08:30 UAB Bellaterra Av Serragalliners (segona rotonda passat els Bombers)
<BR/>09:00 Castellar del Vallès (Benzinera BP - Estació Servei Truyols) Tots amb el dipòsit ple.

<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>11:00 Esmorzar
<BR/>14:00 Dinar/Prendre alguna cosa 
<BR/>19:00 Molins
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring' tot un dia.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar per 'whatsapp' abans del dimarts.
</p> 

<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>


                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("20180919_Castelltallat.jpg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>

<BR/>
<% if user_signed_in? %>
<BR/>

<h2 class="ui header teal">Crònica:</h2>
<p class='pagraf' style='text-align: justify;'>Ahir 4 motoristes: Toni 1200TR, Josep Maria TRACER, Miquel SUPERDUKE i Ferran GSR vàrem sortir puntualment a les nou de Castellar del V. encara amb taques de humitat en l’asfalt i molta en l’ambient que entelava els retrovisors, cap a Talamanca a on no vàrem parar per ser encara molt aviat. Fins a Navarcles és molt divertit bona carretera, poc trànsit i molts revolts, a partir d’aquí un seguit de poblacions i rotondes fins a sortir de Callús a on ens sorprèn i gaudim de la carretera fins a la Serralada de Castelltallat. Allà per camins rurals asfaltats, bastant desfets, visitem l’Observatori i entre uns paisatges molt macos arribem a Pinós a on ens entaulem per fer una taula a l’Hostal Les Voltes **** (no tenien taules a fora, el fuet era sec per mal conservat però la coca mot bona. Ens serveixen ràpid i amb molta amabilitat. A més hi ha ambient motero... Un altre dia tornarem segur que tindrem més sort.).<p>
<p class='pagraf' style='text-align: justify;'>D’aquí fins a Santa Coloma de Queralt un tram d’enllaç de carreteres ràpides, i desprès una delícia, de La Llacuna a Font-rubí, a on per mig de les vinyes arribem a Avinyonet. En Miquel agafa la capçalera amb ‘La Bèstia’ i ens porta en un ritme ‘inseguible’ fins a Begues. En Toni ja en tenia prou i ens va deixar, a 2/4 4 ja hi era a casa. Des d’aquí la resta vàrem fer drecera cap a Molins, a on en Josep Maria ens porta ràpidament a Sta. Creu d'Olorda a on vàrem parar per prendre alguna cosa i xerrar, i així amb solet, a la terrassa, veient el mar i els avions de l’aeroport, vàrem xerrar una bona estona, i en Miquel ens va explicar detalls de com és viu a la F1.  
</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180919_Castelltallat/2018-09-19 at 10.14.52.jpeg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>L'Observatori de Castelltallat.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180919_Castelltallat/2018-09-19 10.16.33.jpg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Primera parada a l'Observatori, tots admirant la KTM 1290 SUPERDUKE 'La Bèstia' del Miquel.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180919_Castelltallat/2018-09-19 at 10.39.jpeg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Hi han varius punts de interès a la Serra de Castelltallat.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180919_Castelltallat/2018-09-19 10.47.44.jpg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>                
<p>En Miquel baixant.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180919_Castelltallat/2018-09-19 10.48.jpg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>En Toni baixant.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180919_Castelltallat/2018-09-19 11.27.jpeg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>En Ferran baixant.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180919_Castelltallat/2018-09-19 11.09.31.jpg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Parada en el vell Pinòs, una maca visita per equivocació!</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180919_Castelltallat/2018-09-19 16.32.jpg", :alt => "Sortida a Castelltallat dimecres 19/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Coneixent les interioritats de la F1 en primera persona. En Miquel molt amable ens va respondre a les nostres preguntes i ens va explicar curiositats. A la cruilla de Vallvidrera quedem fins dissabte.</p>

<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>


<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>



