<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Sortida a la Serra de la Cavallera. Camprodon-Ogassa&nbsp;</h1>
<h2 class="ui header teal">Dissabte 8 de Setembre de 2018</h2>
<BR/>




<h3><i>Dissabte 8 Setembre 2018 "Sortida a la Serra de la Cavallera"</i></h3>


<h3 class="ui header teal">Ruta:</h3> 
<p>BCN – Cardedeu - Sant Celoni - Sant Hilari de Sacalm - Osor - Amer - Olot - Castellfollit de la Roca - Beget - Camprodon - Ogassa - Sant Joan de les Abadesses - Sta. Mª de Merlès - Calders - Sant Llorenç de Savall - Sabadell - BCN
</p>

<h3 class="ui header teal">Punts de trobada:</h3> 
<p>07:30 BCN Drassanes/Av Josep Carner (Edifici duanes) façana Sud.
<BR/>08:00 Montgat
<BR/>09:00 BP Cardedeu. Sortim tots amb el dipòsit ple.
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>10:00 Coll del Ravell (Esmorzar?) 
<BR/>10:30 Sant Hilari de Sacalm (o Esmorzar?) 
<BR/>11:00 Plaça d'Amer (o Esmorzar?)
<BR/>11:30 Esmorzats
<BR/>12:30 Catellfollit de la Roca 
<BR/>13:30 Camprodon (Dinar)
<BR/>14:30 Sant Joan de les Abadesses (or Dinar)
<BR/>15:30 Dinats 
<BR/>17:30 Avinyó-Calders (Prendre alguna cosa)
<BR/>18:00 Sortim desprès de la parada 30min
<BR/>19:00 Sabadell
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring' tot un dia.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar per 'whatsapp' abans del dissabte.
</p> 

<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>





                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("08092018 Serra Cavallera.jpg", :alt => "Sortida a Montseny-Beget-Ogassa-Merlès 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>

<BR/>
<% if user_signed_in? %>
<BR/>

<h2 class="ui header teal">Crònica:</h2> 

<p>Ahir 10 de nosaltres – <i>Carles TRACER, Dani R1, Ferran GSR6, Francesc FZ6, Josep F800GT, Jordi RT, Josep XADV, Josep TRACER, Lluís VSTROM i Ramon BANDIT</i>, vàrem sortir en moto, amb un dia boníssim - ni fred ni calor. 
<BR/>Ens vàrem trobar al Vallès a les nou, per pujar i baixar el Montseny per Santa Fe, amb cura perquè la carretera encara era molla. 
<BR/>Passant per Sant Hilari i les mines d’Òsor el ritme és va accelerar tibats per en Dani i en Jordi, fins arribar a Amer a on vàrem esmorzar entaulats a les onze. Bar TORRENT **** (Ràpits i bé, a més està junt a la carretera amb una bona plaça per deixar les motos i els cascs a la vista). 
<BR/>D’aquí un tros ‘avorrit i pesat’ d’enllaç fins a Castellfollit, a on comencen els revolts fins a Beget i Camprodon, amb bastant trànsit de cotxes i motos. Encara frescos no vàrem parar per a continuar fins a Ogassa, a on encantats pel paisatge i les vistes ens vàrem fotografiar tots junts en aquest paratge que vàrem compartir amb els primers boletaires. Animats desprès de baixar, vàrem fer el Coll de Santigosa, parant finalment a prendre alguna cosa a Vallfogona del Ripollès, ja tocats els dos quarts de quatre a CAN POLLA **** (amables i ràpits i amb les motos al costat). Aquí ens van deixar en Lluís i en Francesc, continuant la resta cap al Lluçanès, per la preciosa carretera de Les Lloses a Borredà i desprès baixar per la riera de Merlès cap al Moianès. 
<BR/>Desprès de fer l'última parada a l’Estany a dos quarts de set, Hostal GRAU **** a peu de carrtera. Aquí, ens vàrem dividir en dos grups, uns que tornaven ja directament cap a Granollers i quatre ‘incombustibles’ que van girar cap a Calders per baixar pel parc natural de Sant Llorenç del Munt, arribant a casa cap a les nou del vespre desprès d’haver fet 425kms i uns mils de revolts. 
</p>

                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 08.47.38.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Quin gust tothom puntual! i a les 9 en punt sortiem cap al Montseny.</p>
               


                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 11.15.36.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Entaulats a Amer per esmorzar. Jordi 1200RT, Josep XADV, Jordi F800GT, Ramon BANDIT, Francesc FZ6 i Dani R1.</p>
               
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 11.15.20.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Entaulats a Amer per esmorzar. Francesc FZ6, Dani R1, Josep TRACER, Jordi 1200RT i Josep XADV.</p>

                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 13.37.15.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 13.36.21.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 13.36.59.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Parada a Beget (el cansament i els fumadors manen...). Vaja quina 'penya'! </p>

<h3>Foto oficial de la sortida a Ogassa (Serra de la Cavallera).</h3>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 14.39.19.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Josep TRACER, Dani R1, Varles TRACER, Francesc FZ6, Josep F800GT, Lluís VSTROM, Jordi 1200RT. Acotats Josep XVAD i Ramon BANDIT.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 14.39.49.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Josep TRACER, Dani R1, Varles TRACER, Francesc FZ6, Josep F800GT, Lluís VSTROM, Ferran GSR6. Acotats Josep XVAD i Ramon BANDIT.</p>

<h3>Bajant d'Ogassa (Serra de la Cavallera) cap a Sant Joan de les Abadesses.</h3>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 14.52.41.jpg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Josep XVAD.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 14.52.46.jpg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Jordi 1200RT.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 14.52.49-1.jpg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Dani R1. Tan ràpid ciom sempre que ha sortit mogut!</p>.
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-08 at 15.47.00.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Francesc FAZER6 i Josep F800GT.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("sortides/20180908_Ogassa/2018-09-09 at 09.03.02.jpeg", :alt => "Sortida a Ogassa 08/09/2018", :class => "mbr-figure__img") %></div>
                </figure>
<p>Última parada a l'Estany per prendre alguna cosa, revisar 'whatsapp' Ramon BANDIT i Josep XVAD, ja cansats pensar una mica en casa Josep F800GT i acomiadar-nos fins la propera.</p>

<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>

<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>