<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Sortida als Pirineus Catalans</h1>
<h2 class="ui header teal">Dissabte 28 Juliol 2018</h2>
<BR/>

<h4><i>28/07/2018 "BCN-Puigcerdà-Aude-Ariège" 550kms</i></h4>





<h3>Ruta:</h3>
<p>
<br/>BCN - Lliça - Vic - Ripoll - Puigcerdà - Quérigut - Port de Pailhères - Mérial Joucou - 
<br/>Pont d'Aliès - La Forgé - Mosset - Prades - Canigó - Vilafranca Conflent - Evol - Els Cortals - Mont-Loius - Saillagouse - Llivia - Puigcerdà - Berga - Manresa - BCN
<br/>Parades previstes i temps aprox.:
<br/>08:00 Lliçà Vall - E.S. EasyGas, (C-17 Km 17,200 "Els Batzacs") 
<br/>11:00 Puigcerdà
<br/>17:00 Prades
<br/>19:00 Llívia
<br/>21:00 BCN 
<br/>Inscripcions: 
<br/>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring' tot un dia. 
<br/>Per ordre fins assolir un màxim de set motos. 
<br/>Si us plau confirmar abans de dimecres 25 Juliol.
<br/>Ahir 6 motos, @Pedro TIGER, @Josep MT09 TRACER @Jordi BMW1200 @Francesc FZ600 @Ferran GSR600, 550kms, 4 ports, i una infinitat de carreteres, paratges i paisatges fabulosos. Gràcies @Pedro per compartir-les amb nosaltres. <br/>Malgrat els 170km i les 2h fins a Puigcerdà segur que tornarem per a fer-les de nou. L’heroi @Jordi que les va fer totes portant a la Gisela la nostra nova ‘reportera gràfica’. +info ben aviat a http://milrevolts.life
<br/>
</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("ruta2.jpg", :alt => "Sortida", :class => "mbr-figure__img") %></div>

<BR/>
<% if user_signed_in? %>
<BR/>


<h3>Crònica:</h3>
<br/>Ahir 6 motos, @Pedro TIGER, @Josep MT09 TRACER, @Luis VSTROM, @Jordi BMW1200, @Francesc FZ600 i @Ferran GSR600, 550kms, 4 ports, i una infinitat de carreteres, paratges i paisatges fabulosos. Gràcies @Pedro per compartir-les amb nosaltres. <br/>Malgrat els 170km i les 2h fins a Puigcerdà segur que tornarem per a fer-les de nou. L’heroi @Jordi que les va fer totes portant a la Gisela la nostra nova ‘reportera gràfica’. 
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 07.51.41.jpeg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %></div>
</figure>
<p>Primer punt de trobada a Lliçà. Na Gisela, en Jordi, en Pedro i en Luis xerrant en les primeres presentacions.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 09.13.14.jpeg", :alt => "Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Primera aturada per reagrupar-nos a la collada de Tosses, ep! anem cap a La Molina.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 09.46.14.jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Primer parada per esmorzar a Tosses.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 09.30.02.jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Primer parada per esmorzar a Tosses. Vaja quines motos!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 12.39.26.jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>El primer port, (Col de Pailheres 2001m) el temps ja ha canviat, una estona de boira mentre pujàvem.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 12.39.49.jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Ja portem els impermeables. Quina fresqueta, que no és estiu?</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-29 at 11.25.27 .jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Quin paisatges i paratges, kilòmetres i kilòmetres de fabuloses carreteres!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/dinar2018-07-28 at 21.40.jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Aquí mateix. Parada per dinar!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 21.40.59.jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Quina tranquil·litat al costat d'un rierol!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 15.16.05.jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Per ací és difícil de trobar una benzinera. Aprofito!</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 16.55.jpg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Parem! Estem cansats! A Evol parem per estirar les cames i recuperar les forces. Vaja quines carreteres que hem fet!</p>
<BR>Josep, Luis, Francesc, Pedro, Ferran i Jordi.
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("sortides/20180728_PirineusCatalans/2018-07-28 at 18.50.21.jpeg", :alt => "Esmorzar a Tosses", :class => "mbr-figure__img") %></div>
</figure>
<p>Un altre cop a Puigcerdà. Això s'acaba, Dues horetes i serem a casa!</p>

<% else %>
<BR/>
<h3 class="ui header blue"><i>Per a llegir la Crònica i veure el Reportatge, cal identificar-se</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>

<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>