
<div class="ui hidden divider"></div>

<div class="ui container">
<div class="ui centered stackable doubling grid">
  <div class="ui row" style='margin-bottom:25px;'>
    <h1 class='ui header teal'>Els nostres motoristes</h1>
    <!-- Slider Container -->
        <div class="fourteen wide column" style='margin-top:25px;'>                      
          <div class="owl-carousel owl-theme" id="single-slider">
             <div class="item"><%= image_tag("motoristes/Alex_R1200GS_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Carles_TRACER_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Ferran_GSR600_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Joan GS_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Dolors_F800R_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Josep_800GT_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Lluís_VSTROM_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Paco_GS_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Ramon_BANDIT_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Ricart_TRACER_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/JM_TRACER_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
             <div class="item"><%= image_tag("motoristes/Joan_VERSYS_300.jpg", :alt => "Mil Revolts", :class => "undefined") %></div>
          </div>
      </div>
    </div>
  </div>  
</div><!-- ./container -->